In [1]:
import csv
import pandas as pd

## Tasks for Step 1

In [2]:
# TODO: Load airports.dat.txt into a dataframe called airports_df
airports_df_colnames = ["airport_id", "airport_name", \
                       "city", "country", \
                       "airport_iata", "airport_icao", "latitude", \
                       "longitude", \
                        "altitude", \
                        "timezone", "dst", \
                        "tz"]
airports_df = pd.read_csv("airports.dat.txt", \
                          header=None, \
                          names = airports_df_colnames)

In [3]:
# correct for daylight savings by country
country_dst={}
for index, row in airports_df.iterrows():
    if row["country"] in country_dst:
        if country_dst[row["country"]] == "N" or \
        country_dst[row["country"]] == "U":
            country_dst[row["country"]]=row["dst"]
    else:
        country_dst[row["country"]]=row["dst"]
        
for each_country in airports_df.country.unique():
    if country_dst[each_country] != "N" and \
        country_dst[each_country] != "U":
        airports_df.loc[airports_df["country"]==each_country,"dst"]=country_dst[each_country]

In [4]:
# TODO: Load airlines.dat.txt into a dataframe called airlines_df
airlines_df_colnames = ["airline_id", "airline_name", \
                       "airport_alias", "airline_iata", \
                       "airline_icao", "callsign", \
                        "country","active"]
airlines_df = pd.read_csv("airlines.dat.txt", \
                          header=None, \
                          names = airlines_df_colnames)
#                         na_values=['\\N','unknown','-'])

In [5]:
# TODO: Load routes.dat.txt into a dataframe called routes_df
routes_df_colnames = ["airline_iata_icao", "airline_id", \
                       "source_airport_iata_icao", \
                     "source_airport_id", \
                     "dest_airport_iata_icao", \
                     "dest_airport_id", "codeshare", \
                     "stops", "equipment"]
routes_df = pd.read_csv("routes.dat.txt", \
                          header=None, \
                          names = routes_df_colnames) 
#                         na_values='\\N', \
#                       dtype={'airline_id':str, \
#                             'source_airport_id':str, \
#                             'dest_airport_id':str})

In [6]:
# make seperate columns for IATA code or ICAO code? 
#Check if 3 or 4 letters

In [7]:
# TODO: Load On_Time_On_Time_Performance_2016_10.csv into flights_df, but
# also restrict to the following columns: 'Year','Month','DayofMonth','AirlineID','Carrier','FlightNum','Origin','Dest','ArrDelayMinutes','Cancelled'
flights_df = pd.read_csv("On_Time_On_Time_Performance_2016_10.csv", \
                         usecols=['Year','Month','DayofMonth','AirlineID','Carrier','FlightNum','Origin','Dest','ArrDelayMinutes','Cancelled'])
#df=df.rename(columns = {'AirlineID':'airline_id'})

## Step 1.1

In [8]:
airports_df

,airport_id,airport_name,city,country,airport_iata,airport_icao,latitude,longitude,altitude,timezone,dst,tz
0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10.0,U,Pacific/Port_Moresby
1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20,10.0,U,Pacific/Port_Moresby
2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10.0,U,Pacific/Port_Moresby
3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10.0,U,Pacific/Port_Moresby
4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146,10.0,U,Pacific/Port_Moresby
5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10.0,U,Pacific/Port_Moresby
6,7,Narsarsuaq,Narssarssuaq,Greenland,UAK,BGBW,61.160517,-45.425978,112,-3.0,E,America/Godthab
7,8,Nuuk,Godthaab,Greenland,GOH,BGGH,64.190922,-51.678064,283,-3.0,E,America/Godthab
8,9,Sondre Stromfjord,Sondrestrom,Greenland,SFJ,BGSF,67.016969,-50.689325,165,-3.0,E,America/Godthab
9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531203,-68.703161,251,-4.0,E,America/Thule
10,11,Akureyri,Akureyri,Iceland,AEY,BIAR,65.659994,-18.072703,6,0.0,E,Atlantic/Reykjavik
11,12,Egilsstadir,Egilsstadir,Iceland,EGS,BIEG,65.283333,-14.401389,76,0.0,E,Atlantic/Reykjavik
12,13,Hornafjordur,Hofn,Iceland,HFN,BIHN,64.295556,-15.227222,24,0.0,E,Atlantic/Reykjavik
13,14,Husavik,Husavik,Iceland,HZK,BIHU,65.952328,-17.425978,48,0.0,E,Atlantic/Reykjavik
14,15,Isafjordur,Isafjordur,Iceland,IFJ,BIIS,66.058056,-23.135278,8,0.0,E,Atlantic/Reykjavik
15,16,Keflavik International Airport,Keflavik,Iceland,KEF,BIKF,63.985000,-22.605556,171,0.0,E,Atlantic/Reykjavik
16,17,Patreksfjordur,Patreksfjordur,Iceland,PFJ,BIPA,65.555833,-23.965000,11,0.0,E,Atlantic/Reykjavik
17,18,Reykjavik,Reykjavik,Iceland,RKV,BIRK,64.130000,-21.940556,48,0.0,E,Atlantic/Reykjavik
18,19,Siglufjordur,Siglufjordur,Iceland,SIJ,BISI,66.133333,-18.916667,10,0.0,E,Atlantic/Reykjavik
19,20,Vestmannaeyjar,Vestmannaeyjar,Iceland,VEY,BIVM,63.424303,-20.278875,326,0.0,E,Atlantic/Reykjavik
20,21,Sault Ste Marie,Sault Sainte Marie,Canada,YAM,CYAM,46.485001,-84.509445,630,-5.0,A,America/Toronto
21,22,Winnipeg St Andrews,Winnipeg,Canada,YAV,CYAV,50.056389,-97.032500,760,-6.0,A,America/Winnipeg
22,23,Shearwater,Halifax,Canada,YAW,CYAW,44.639721,-63.499444,167,-4.0,A,America/Halifax
23,24,St Anthony,St. Anthony,Canada,YAY,CYAY,51.391944,-56.083056,108,-3.5,A,America/St_Johns
24,25,Tofino,Tofino,Canada,YAZ,CYAZ,49.082222,-125.772500,80,-8.0,A,America/Vancouver
25,26,Kugaaruk,Pelly Bay,Canada,YBB,CYBB,68.534444,-89.808056,56,-7.0,A,America/Edmonton
26,27,Baie Comeau,Baie Comeau,Canada,YBC,CYBC,49.132500,-68.204444,71,-5.0,A,America/Toronto
27,28,Bagotville,Bagotville,Canada,YBG,CYBG,48.330555,-70.996391,522,-5.0,A,America/Toronto
28,29,Baker Lake,Baker Lake,Canada,YBK,CYBK,64.298889,-96.077778,59,-6.0,A,America/Winnipeg
29,30,Campbell River,Campbell River,Canada,YBL,CYBL,49.950832,-125.270833,346,-8.0,A,America/Vancouver
...,...,...,...,...,...,...,...,...,...,...,...,...
8077,9512,Port of Seattle,Seattle,United States,NaN,PSEA,47.609178,-122.350605,0,-8.0,A,America/Los_Angeles
8078,9513,Ferry Terminal,Whittier,United States,NaN,WHIT,60.776566,-148.683367,0,-9.0,A,America/Anchorage
8079,9514,Ferry Terminal,Valdez,United States,NaN,VLDZ,61.123976,-146.365309,0,-9.0,A,America/Anchorage
8080,9515,Gare Routiere,Saint-Louis,Reunion,NaN,STLS,-21.289604,55.407269,103,4.0,E,Indian/Reunion
8081,9516,Bus Stop,La Riviere,Reunion,NaN,LRIV,-21.272574,55.437706,190,4.0,E,Indian/Reunion
8082,9517,Bus Stop,Cilaos,Reunion,NaN,CILS,-21.135518,55.472087,4000,4.0,E,Indian/Reunion
8083,9518,Bus Stop,Hell-Bourg,Reunion,NaN,HLBG,-21.064020,55.518453,3000,4.0,E,Indian/Reunion
8084,9519,Bus Stop,Salazie,Reunion,NaN,SLZI,-21.027485,55.538955,3000,4.0,E,Indian/Reunion
8085,9520,Gare,St Andre,Reunion,NaN,ANDR,-20.963272,55.652508,100,4.0,E,Indian/Reunion
8086,9521,L'Ocean Bus Terminal,Saint Denis,Reunion,NaN,SDNS,-20.877683,55.457393,0,4.0,E,Indian/Reunion
8087,9522,Gare Routiere,Saint Pierre,Reunion,NaN,STPR,-21.334240,55.471331,0,4.0,E,Indian/Reunion
8088,9523,Baie Ste Anne,Praslin,Seychelles,NaN,PLIN,-4.347119,55.765688,0,4.0,N,Indian/Mahe
8089,9524,La Passe,La Digue,Seychelles,NaN,LADG,-4.347969,55.829069,0,4.0,N,Indian/Mahe
8090,9525,Ferry Dock,Bainbridge Island,United States,NaN,BAIN,47.622237,-122.509362,0,-8.0,A,America/Los_Angeles
8091,9526,Bus,Phnom Penh,Cambodia,NaN,PNMP,11.561716,104.914276,0,7.0,N,Asia/Phnom_Penh
8092,9527,Bus,Siem Reap,Cambodia,NaN,SMRP,13.361002,103.859543,0,7.0,N,Asia/Phnom_Penh
8093,9528,Bus,Sihanoukville,Cambodia,NaN,SNKV,10.607220,103.524886,0,7.0,N,Asia/Phnom_Penh
8094,9529,Bus,Kampot,Cambodia,NaN,KMPT,10.614922,104.177724,0,7.0,N,Asia/Phnom_Penh
8095,9530,Bus,Kep,Cambodia,NaN,KEPC,10.480174,104.294228,0,7.0,N,Asia/Phnom_Penh
8096,9531,Main Station,Taipei,Taiwan,NaN,TPEI,25.046176,121.517532,0,8.0,N,Asia/Taipei
8097,9532,Prominent Hill,Prominent Hill,Australia,PXH,YPMH,-29.716667,135.521667,734,9.5,O,Australia/Adelaide
8098,9533,Chatsworth Station,Chatsworth,United States,CWT,\N,34.256944,-118.598889,978,-8.0,A,America/Los_Angeles
8099,9534,Algerciras Port,Algerciras,Spain,NaN,\N,36.136000,-5.435000,0,1.0,E,Europe/Madrid
8100,9535,Ganges Water Aerodrome,Ganges,Canada,YGG,\N,48.850000,-123.500000,0,-8.0,A,America/Vancouver
8101,9536,Pender Harbour Water Aerodrome,Pender Harbour,Canada,YPT,\N,49.616667,-124.016667,0,-8.0,A,America/Vancouver
8102,9537,Mansons Landing Water Aerodrome,Mansons Landing,Canada,YMU,\N,50.066667,-124.983333,0,-8.0,A,America/Vancouver
8103,9538,Port McNeill Airport,Port McNeill,Canada,YMP,\N,50.575556,-127.028611,225,-8.0,A,America/Vancouver
8104,9539,Sullivan Bay Water Aerodrome,Sullivan Bay,Canada,YTG,\N,50.883333,-126.833333,0,-8.0,A,America/Vancouver
8105,9540,Deer Harbor Seaplane,Deer Harbor,United States,DHB,\N,48.618397,-123.005960,0,-8.0,A,America/Los_Angeles
8106,9541,San Diego Old Town Transit Center,San Diego,United States,OLT,\N,32.755200,-117.199500,0,-8.0,A,America/Los_Angeles

In [9]:
# Output airlines_df
airlines_df

,airline_id,airline_name,airport_alias,airline_iata,airline_icao,callsign,country,active
0,1,Private flight,\N,-,NaN,NaN,NaN,Y
1,2,135 Airways,\N,NaN,GNL,GENERAL,United States,N
2,3,1Time Airline,\N,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,\N,NaN,WYT,NaN,United Kingdom,N
4,5,213 Flight Unit,\N,NaN,TFU,NaN,Russia,N
5,6,223 Flight Unit State Airline,\N,NaN,CHD,CHKALOVSK-AVIA,Russia,N
6,7,224th Flight Unit,\N,NaN,TTF,CARGO UNIT,Russia,N
7,8,247 Jet Ltd,\N,NaN,TWF,CLOUD RUNNER,United Kingdom,N
8,9,3D Aviation,\N,NaN,SEC,SECUREX,United States,N
9,10,40-Mile Air,\N,Q5,MLA,MILE-AIR,United States,Y
10,11,4D Air,\N,NaN,QRT,QUARTET,Thailand,N
11,12,611897 Alberta Limited,\N,NaN,THD,DONUT,Canada,N
12,13,Ansett Australia,\N,AN,AAA,ANSETT,Australia,Y
13,14,Abacus International,\N,1B,NaN,NaN,Singapore,Y
14,15,Abelag Aviation,\N,W9,AAB,ABG,Belgium,N
15,16,Army Air Corps,\N,NaN,AAC,ARMYAIR,United Kingdom,N
16,17,Aero Aviation Centre Ltd.,\N,NaN,AAD,SUNRISE,Canada,N
17,18,Aero Servicios Ejecutivos Internacionales,\N,NaN,SII,ASEISA,Mexico,N
18,19,Aero Biniza,\N,NaN,BZS,BINIZA,Mexico,N
19,20,Aero Albatros,\N,NaN,ABM,ALBATROS ESPANA,Spain,N
20,21,Aigle Azur,\N,ZI,AAF,AIGLE AZUR,France,Y
21,22,Aloha Airlines,\N,AQ,AAH,ALOHA,United States,Y
22,23,Alaska Island Air,\N,NaN,AAK,ALASKA ISLAND,United States,N
23,24,American Airlines,\N,AA,AAL,AMERICAN,United States,Y
24,25,Aviation Management Corporation,\N,NaN,AAM,AM CORP,United States,N
25,26,Atlantis Airlines (USA),\N,NaN,AAO,ATLANTIS AIR,United States,N
26,27,Aerovista Airlines,\N,NaN,AAP,AEROVISTA GROUP,United Arab Emirates,N
27,28,Asiana Airlines,\N,OZ,AAR,ASIANA,Republic of Korea,Y
28,29,Askari Aviation,\N,4K,AAS,AL-AAS,Pakistan,Y
29,30,Australia Asia Airlines,\N,NaN,AAU,AUSTASIA,Australia,N
...,...,...,...,...,...,...,...,...
6018,19651,CARICOM AIRWAYS (BARBADOS) INC.,CARICOM AIRWAYS,NaN,CCB,NaN,Barbados,Y
6019,19674,Rainbow Air (RAI),Rainbow Air (RAI),RN,RAB,Rainbow,United States,Y
6020,19675,Rainbow Air Canada,Rainbow Air CAN,RY,RAY,Rainbow CAN,Canada,Y
6021,19676,Rainbow Air Polynesia,Rainbow Air POL,RX,RPO,Rainbow Air,United States,Y
6022,19677,Rainbow Air Euro,Rainbow Air EU,RU,RUE,Rainbow Air,United Kingdom,Y
6023,19678,Rainbow Air US,Rainbow Air US,RM,RNY,Rainbow Air,United States,Y
6024,19745,Transilvania,NaN,NaN,TNS,NaN,Romania,Y
6025,19751,Dobrolet,Добролёт,QD,DOB,DOBROLET,Russia,Y
6026,19774,Spike Airlines,Aero Spike,S0,SAL,Spike Air,United States,Y
6027,19776,Grand Cru Airlines,NaN,NaN,GCA,NaN,Lithuania,Y
6028,19785,Go2Sky,NaN,NaN,RLX,RELAX,Slovakia,Y
6029,19803,All Argentina,All Argentina,L1,AL1,NaN,Argentina,Y
6030,19804,All America,All America,A2,AL2,NaN,United States,Y
6031,19805,All Asia,All Asia,L9,AL3,NaN,China,Y
6032,19806,All Africa,All Africa,9A,99F,NaN,South Africa,Y
6033,19807,Regionalia México,Regionalia México,N4,J88,NaN,Mexico,Y
6034,19808,All Europe,All Europe,N9,N99,NaN,United Kingdom,Y
6035,19809,All Spain,All Spain,N7,N77,NaN,Spain,Y
6036,19810,Regional Air Iceland,Regional Air Iceland,9N,N78,NaN,Iceland,Y
6037,19811,British Air Ferries,NaN,??,??!,NaN,United Kingdom,N
6038,19812,Voestar,Voestar Brasil,8K,K88,NaN,Brazil,Y
6039,19813,All Colombia,All Colombia,7O,7KK,NaN,Colombia,Y
6040,19814,Regionalia Uruguay,Regionalia Uruguay,2X,2K2,NaN,Uruguay,Y
6041,19815,Regionalia Venezuela,Regionalia Venezuela,9X,9XX,NaN,Venezuela,Y
6042,19827,Regionalia Chile,Regionalia Chile,9J,CR1,NaN,Chile,Y
6043,19828,Vuela Cuba,Vuela Cuba,6C,6CC,NaN,Cuba,Y
6044,19830,All Australia,All Australia,88,8K8,NaN,Australia,Y
6045,19831,Fly Europa,NaN,ER,RWW,NaN,Spain,Y
6046,19834,FlyPortugal,NaN,PO,FPT,FlyPortugal,Portugal,Y
6047,19845,FTI Fluggesellschaft,NaN,NaN,FTI,NaN,Germany,N

In [10]:
# Output routes_df
routes_df

,airline_iata_icao,airline_id,source_airport_iata_icao,source_airport_id,dest_airport_iata_icao,dest_airport_id,codeshare,stops,equipment
0,2B,410,AER,2965,KZN,2990,NaN,0,CR2
1,2B,410,ASF,2966,KZN,2990,NaN,0,CR2
2,2B,410,ASF,2966,MRV,2962,NaN,0,CR2
3,2B,410,CEK,2968,KZN,2990,NaN,0,CR2
4,2B,410,CEK,2968,OVB,4078,NaN,0,CR2
5,2B,410,DME,4029,KZN,2990,NaN,0,CR2
6,2B,410,DME,4029,NBC,6969,NaN,0,CR2
7,2B,410,DME,4029,TGK,\N,NaN,0,CR2
8,2B,410,DME,4029,UUA,6160,NaN,0,CR2
9,2B,410,EGO,6156,KGD,2952,NaN,0,CR2
10,2B,410,EGO,6156,KZN,2990,NaN,0,CR2
11,2B,410,GYD,2922,NBC,6969,NaN,0,CR2
12,2B,410,KGD,2952,EGO,6156,NaN,0,CR2
13,2B,410,KZN,2990,AER,2965,NaN,0,CR2
14,2B,410,KZN,2990,ASF,2966,NaN,0,CR2
15,2B,410,KZN,2990,CEK,2968,NaN,0,CR2
16,2B,410,KZN,2990,DME,4029,NaN,0,CR2
17,2B,410,KZN,2990,EGO,6156,NaN,0,CR2
18,2B,410,KZN,2990,LED,2948,NaN,0,CR2
19,2B,410,KZN,2990,SVX,2975,NaN,0,CR2
20,2B,410,LED,2948,KZN,2990,NaN,0,CR2
21,2B,410,LED,2948,NBC,6969,NaN,0,CR2
22,2B,410,LED,2948,UUA,6160,NaN,0,CR2
23,2B,410,MRV,2962,ASF,2966,NaN,0,CR2
24,2B,410,NBC,6969,DME,4029,NaN,0,CR2
25,2B,410,NBC,6969,GYD,2922,NaN,0,CR2
26,2B,410,NBC,6969,LED,2948,NaN,0,CR2
27,2B,410,NBC,6969,SVX,2975,NaN,0,CR2
28,2B,410,NJC,2972,SVX,2975,NaN,0,CR2
29,2B,410,NJC,2972,UUA,6160,NaN,0,CR2
...,...,...,...,...,...,...,...,...,...
67633,ZL,4178,SYD,3361,ABX,3333,NaN,0,SF3
67634,ZL,4178,SYD,3361,ARM,4062,NaN,0,SF3
67635,ZL,4178,SYD,3361,BHQ,6241,NaN,0,SF3
67636,ZL,4178,SYD,3361,BHS,6249,NaN,0,SF3
67637,ZL,4178,SYD,3361,BNK,4291,NaN,0,SF3
67638,ZL,4178,SYD,3361,DBO,3358,NaN,0,SF3
67639,ZL,4178,SYD,3361,GFF,6271,NaN,0,SF3
67640,ZL,4178,SYD,3361,LSY,6287,NaN,0,SF3
67641,ZL,4178,SYD,3361,MIM,6294,NaN,0,SF3
67642,ZL,4178,SYD,3361,MQL,6298,NaN,0,SF3
67643,ZL,4178,SYD,3361,MYA,6302,NaN,0,SF3
67644,ZL,4178,SYD,3361,NRA,6307,NaN,0,SF3
67645,ZL,4178,SYD,3361,NTL,4320,NaN,0,SF3
67646,ZL,4178,SYD,3361,OAG,6793,NaN,0,SF3
67647,ZL,4178,SYD,3361,PKE,6317,NaN,0,SF3
67648,ZL,4178,SYD,3361,TRO,6794,NaN,0,SF3
67649,ZL,4178,SYD,3361,WGA,3363,NaN,0,SF3
67650,ZL,4178,TRO,6794,GFN,6792,NaN,0,SF3
67651,ZL,4178,TRO,6794,SYD,3361,NaN,0,SF3
67652,ZL,4178,TSV,3330,ISA,3324,NaN,0,SF3
67653,ZL,4178,TSV,3330,WIN,6337,NaN,0,SF3
67654,ZL,4178,WGA,3363,MEL,3339,NaN,0,SF3
67655,ZL,4178,WGA,3363,SYD,3361,NaN,0,SF3
67656,ZL,4178,WIN,6337,LRE,6289,NaN,0,SF3
67657,ZL,4178,WIN,6337,TSV,3330,NaN,0,SF3
67658,ZL,4178,WYA,6334,ADL,3341,NaN,0,SF3
67659,ZM,19016,DME,4029,FRU,2912,NaN,0,734
67660,ZM,19016,FRU,2912,DME,4029,NaN,0,734
67661,ZM,19016,FRU,2912,OSS,2913,NaN,0,734
67662,ZM,19016,OSS,2913,FRU,2912,NaN,0,734

In [11]:
# Output flights_df
flights_df

,Year,Month,DayofMonth,AirlineID,Carrier,FlightNum,Origin,Dest,ArrDelayMinutes,Cancelled
0,2016,10,3,19805,AA,1,BOS,JFK,0.0,0.0
1,2016,10,4,19805,AA,1,BOS,JFK,0.0,0.0
2,2016,10,1,19805,AA,1,JFK,LAX,0.0,0.0
3,2016,10,2,19805,AA,1,JFK,LAX,18.0,0.0
4,2016,10,3,19805,AA,1,JFK,LAX,0.0,0.0
5,2016,10,4,19805,AA,1,JFK,LAX,0.0,0.0
6,2016,10,5,19805,AA,1,JFK,LAX,0.0,0.0
7,2016,10,6,19805,AA,1,JFK,LAX,0.0,0.0
8,2016,10,7,19805,AA,1,JFK,LAX,0.0,0.0
9,2016,10,8,19805,AA,1,JFK,LAX,0.0,0.0
10,2016,10,9,19805,AA,1,JFK,LAX,0.0,0.0
11,2016,10,10,19805,AA,1,JFK,LAX,0.0,0.0
12,2016,10,11,19805,AA,1,JFK,LAX,0.0,0.0
13,2016,10,12,19805,AA,1,JFK,LAX,10.0,0.0
14,2016,10,13,19805,AA,1,JFK,LAX,0.0,0.0
15,2016,10,14,19805,AA,1,JFK,LAX,0.0,0.0
16,2016,10,15,19805,AA,1,JFK,LAX,0.0,0.0
17,2016,10,16,19805,AA,1,JFK,LAX,0.0,0.0
18,2016,10,17,19805,AA,1,JFK,LAX,0.0,0.0
19,2016,10,18,19805,AA,1,JFK,LAX,0.0,0.0
20,2016,10,19,19805,AA,1,JFK,LAX,0.0,0.0
21,2016,10,20,19805,AA,1,JFK,LAX,0.0,0.0
22,2016,10,21,19805,AA,1,JFK,LAX,0.0,0.0
23,2016,10,22,19805,AA,1,JFK,LAX,0.0,0.0
24,2016,10,23,19805,AA,1,JFK,LAX,27.0,0.0
25,2016,10,24,19805,AA,1,JFK,LAX,23.0,0.0
26,2016,10,25,19805,AA,1,JFK,LAX,0.0,0.0
27,2016,10,26,19805,AA,1,JFK,LAX,0.0,0.0
28,2016,10,27,19805,AA,1,JFK,LAX,0.0,0.0
29,2016,10,28,19805,AA,1,JFK,LAX,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
472596,2016,10,25,21171,VX,12,SFO,JFK,0.0,0.0
472597,2016,10,25,21171,VX,161,EWR,LAX,2.0,0.0
472598,2016,10,25,21171,VX,162,LAX,EWR,0.0,0.0
472599,2016,10,25,21171,VX,165,EWR,LAX,0.0,0.0
472600,2016,10,25,21171,VX,166,LAX,EWR,20.0,0.0
472601,2016,10,25,21171,VX,169,EWR,LAX,0.0,0.0
472602,2016,10,25,21171,VX,170,LAX,EWR,11.0,0.0
472603,2016,10,25,21171,VX,1742,SFO,SEA,0.0,0.0
472604,2016,10,25,21171,VX,1747,SEA,SFO,NaN,1.0
472605,2016,10,25,21171,VX,174,SFO,EWR,0.0,0.0
472606,2016,10,25,21171,VX,1780,SEA,LAX,3.0,0.0
472607,2016,10,25,21171,VX,182,SFO,EWR,36.0,0.0
472608,2016,10,25,21171,VX,183,EWR,SFO,30.0,0.0
472609,2016,10,25,21171,VX,187,EWR,SFO,31.0,0.0
472610,2016,10,25,21171,VX,1930,SFO,LAX,0.0,0.0
472611,2016,10,25,21171,VX,1935,LAX,SFO,178.0,0.0
472612,2016,10,25,21171,VX,193,EWR,SFO,96.0,0.0
472613,2016,10,25,21171,VX,1946,SFO,LAX,NaN,1.0
472614,2016,10,25,21171,VX,1,SFO,DCA,0.0,0.0
472615,2016,10,25,21171,VX,201,ORD,SFO,2.0,0.0
472616,2016,10,25,21171,VX,202,SFO,ORD,1.0,0.0
472617,2016,10,25,21171,VX,204,SFO,ORD,0.0,0.0
472618,2016,10,25,21171,VX,205,ORD,SFO,9.0,0.0
472619,2016,10,25,21171,VX,210,SFO,ORD,116.0,0.0
472620,2016,10,25,21171,VX,211,ORD,SFO,83.0,0.0
472621,2016,10,25,21171,VX,218,SFO,AUS,64.0,0.0
472622,2016,10,25,21171,VX,219,AUS,SFO,2.0,0.0
472623,2016,10,25,21171,VX,219,SFO,PDX,20.0,0.0
472624,2016,10,25,21171,VX,221,AUS,SFO,155.0,0.0
472625,2016,10,25,21171,VX,222,SFO,AUS,130.0,0.0

In [12]:
# airlines_df schema
airlines_df.dtypes

airline_id        int64
airline_name     object
airport_alias    object
airline_iata     object
airline_icao     object
callsign         object
country          object
active           object
dtype: object

In [13]:
# routes_df scheme
routes_df.dtypes

airline_iata_icao           object
airline_id                  object
source_airport_iata_icao    object
source_airport_id           object
dest_airport_iata_icao      object
dest_airport_id             object
codeshare                   object
stops                        int64
equipment                   object
dtype: object

## Step 1.2

In [14]:
from bs4 import BeautifulSoup

input_html = "aircraft_incidents.htm"
with open(input_html, "r") as ifile:
    soup = BeautifulSoup(ifile, 'html5lib')

In [15]:
# TODO: Select Year and Incident description. It can be seen that they are usually <h3> or <li> tags.

# Assign the results to variable selected_data
selected_data=""
for i in soup.find_all(["h3","li"]):
    selected_data = ("%s%s\n" % (selected_data, i.get_text()))

print(selected_data)

1919[edit]
July 21 – The Goodyear dirigible Wingfoot Air Express catches fire and crashes into the Illinois Trust and Savings Building in Chicago, Illinois, while carrying passengers to a local amusement park, killing thirteen people: three out of the five on board and ten others on the ground, with 27 others on the ground being injured.
August 2 – A Caproni Ca.48 crashes at Verona, Italy, during a flight from Venice to Taliedo, Milan, killing all on board (14, 15, or 17 people, according to different sources).
1920[edit]
December 14 – A Handley Page Transport Handley Page O/400 hits a tree and crashes at Golders Green, London, after failing to gain height following takeoff, killing four out of eight on board.
1922[edit]
April 7 – In the first mid-air collision of airliners, a de Havilland DH.18A, G-EAWO, operated by Daimler Hire Ltd., collides with a Farman F.60 Goliath, F-GEAD, operated by Compagnie des Grands Express Aériens (CGEA), over the Thieulloy-St. Antoine road near Picardie, France, killing all seven people on both aircraft.
1923[edit]
May 14 – An Air Union Farman F.60 Goliath crashes near Monsures, Somme, France, due to the structural failure of a wing, killing all six on board.
August 27 – An Air Union Farman F.60 Goliath crashes near East Malling, Kent, England, due to engine failure, and confusion among the passengers, killing one of 13 on board.
September 14 – A Daimler Airway de Havilland DH.34 crashes at Ivinghoe, Buckinghamshire, England, after stalling while attempting an emergency landing, killing all five on board.
1924[edit]
December 24 – An Imperial Airways de Havilland DH.34 crashes near Purley, Surrey, England, due to a stall during an attempted emergency landing in response to an unknown mechanical defect, killing all eight on board.
1926[edit]
August 18 – An Air Union Blériot 155 crashes while attempting an emergency landing at College Farm, Hurst, Aldington, England, due to engine failure, killing three of 15 on board; the pilot initially survives, but dies a day later.
October 2 – An Air Union Blériot 155 catches fire in mid-air and crashes at Leigh, Kent, England, while the pilot attempts to make an emergency landing at Penshurst Airfield. Both members of crew and all five passengers are killed. This is the first in-flight fire occurring on an airliner.
1927[edit]
August 22 – A KLM Fokker F. VIII crashes near Sevenoaks, Kent, England, due to structural failure of the tailfin, killing one of 11 on board.
1928[edit]
July 13 – An Imperial Airways Vickers Vulcan crashes on a test flight from Croydon Airport, England, with a pilot and five passengers near Purley, Surrey, 3 miles (4.8 km) from the airport, with the loss of four passengers. As a result of the crash Imperial Airways stopped the flying of staff (so-called joy rides) on test flights.
1929[edit]
June 17 – An Imperial Airways Handley Page W.10 ditches in the English Channel due to engine failure, killing seven of 13 on board.
November 6 – A Junkers G 24 crashes near Marden Park, Godstone, Surrey, England; of the 8 on board; only one passenger survives.
1930[edit]
February 10 – An Air Union Farman F.63 Goliath crashes during an emergency landing at Marden Airfield, Marden, Kent, England, following failure of the right tailplane, killing two of six on board.
October 5 – On its maiden voyage from England to British India, the British civil airship R101 crashes and burns in Allonne, Oise, France, while flying at low altitude at night in a rainstorm, killing 48 out of 54 on board, the worst civil airship disaster in history.
1931[edit]
March 21 – An Australian National Airways Avro 618 Ten, Southern Cloud, disappears in severe weather on a flight from Sydney to Melbourne, killing all eight on board in Australia's first significant airline disaster; the crash site in the Snowy Mountains remains undiscovered until 1958.
March 31 – A Transcontinental & Western Air Fokker F-10 Trimotor crashes near Bazaar, Kansas, after a wing breaks off in flight, killing all eight aboard, including University of Notre Dame football coach Knute Rockne.
1933[edit]
March 28 – The 1933 Imperial Airways Dixmude crash in Belgium of an Armstrong Whitworth Argosy II is the first suspected case of air sabotage; all 15 on board are killed.
October 10 – The United Airlines crash near Chesterton: a Boeing 247 is destroyed by a bomb over Chesterton, Indiana, United States, in the first proven case of air sabotage on a commercial aircraft; all seven on board are killed.
December 30 – In the 1933 Imperial Airways Ruysselede crash in Belgium, an Avro Ten collides with a radio mast, killing all 10 on board.
1934[edit]
February 23 - A United Air Lines Boeing 247 crashes into a Utah canyon in bad weather, killing all eight on board.
May 9 – An Air France Wibault 282T crashes into the English Channel off Dungeness, Kent, killing all six on board.
July 27 – A Swissair Curtiss T-32 Condor II crashes near Tuttlingen, Germany, after a wing separates in a thunderstorm, killing all 12 passengers and crew on board.
October 2 – A Hillman's Airways de Havilland Dragon Rapide crashes into the English Channel off Folkestone, Kent, due to pilot error, killing all seven on board.
1935[edit]
May 6 - TWA Flight 6, a Douglas DC-2 flying from Albuquerque, New Mexico, to Kansas City, Missouri, flying at low altitude through poor visibility at night while desperately low on fuel, crashes near Atlanta, Missouri, killing five out of thirteen on board, including a U.S. Senator. The political aftermath transforms U.S. civil air regulation.
October 7 – United Airlines Trip 4, a Boeing 247D, crashes near Silver Crown, Wyoming, United States, due to pilot error; all 12 on board die.
December 10 – A SABENA Savoia-Marchetti S.73 crashes near Tatsfield, Surrey, England, due to pilot error, killing all 11 on board.
1936[edit]
January 14 – American Airlines Flight 1, a Douglas DC-2, crashes into a swamp near Goodwin, Arkansas, killing all 17 passengers and crew on board; the cause is never determined.
April 7 – TWA Flight 1, a Douglas DC-2, crashes near Uniontown, Pennsylvania, United States, due to pilot error, killing 12 of the 14 passengers and crew aboard.
June 16 – In the Havørn Accident, a Norwegian Air Lines Junkers Ju 52 crashes into Lihesten mountain in Hyllestad, Norway, killing all seven on board.
August 5 – Chicago and Southern Flight 4, a Lockheed Model 10 Electra, crashes after takeoff due to pilot error, killing all eight on board.
December 9 – A KLM Douglas DC-2 crashes on takeoff from Croydon Airport, England; 15 of 17 on board die.
December 27 – United Airlines Trip 34, a Boeing 247, crashes at Rice Canyon (near Newhall, California, United States) due to pilot error, killing all 12 on board.
1937[edit]
January 12 – Western Air Express Flight 7, a Boeing 247, crashes into a mountain near Newhall, California, United States. Five of the 13 people aboard die, including famed adventurer, author and filmmaker, Martin Johnson.
February 19 – An Australian National Airways Stinson Model A suffers controlled flight into terrain in Queensland, killing four of the seven people on board.
May 6 – The Zeppelin Hindenburg bursts into flames and crashes while attempting a landing at Naval Air Engineering Station, Lakehurst, New Jersey, United States; of the 97 people on board, 35 are killed; one person on the ground also dies.
November 16 – A Sabena Junkers Ju 52 crashes near Ostend, Belgium, killing all 11 on board, including the Grand Duke Georg Donatus and Grand Duchess Cecilie of Hesse.
1938[edit]
January 10 – Northwest Airlines Flight 2, a Lockheed L14H Super Electra, crashes near Bozeman, Montana, United States, killing all 10 on board; the machine with which the manufacturer measured component vibration is found to be inaccurate, causing the aircraft to be more prone to flutter than thought.
January 11 – Pan American World Airways Flight 1, a Sikorsky S-42 flying boat named the Samoan Clipper, explodes over Pago Pago, American Samoa; all seven on board die.
March 1 – The 1938 Yosemite TWA crash: A Douglas DC-2 disappears on a flight from San Francisco to Winslow, Arizona, United States; the aircraft is found three months later on a mountain in Yosemite National Park; all nine on board die.
July 28 – Pan American World Airways Flight 229, a Martin M-130 flying boat named the Hawaii Clipper, disappears in the Pacific Ocean westbound from Guam to Manila with six passengers and nine crew.
October 25 – Kyeema, an Australian National Airways Douglas DC-2 crashes in heavy fog into Mount Dandenong in Victoria, Australia, killing all 18 people on board.
November 4 – In the 1938 Jersey Airport disaster, a Jersey Airways de Havilland DH.86 crashes on takeoff from Jersey Airport due to pilot error; all 13 passengers and crew die as well as one person on the ground.
1939[edit]
January 13 – Northwest Airlines Flight 1, a Lockheed L14H Super Electra, crashes on descent to Miles City, Montana, United States, killing all four on board; the aircraft's cross-feed fuel valve leaked fuel into the cockpit and an intense fire broke out.
January 21 – Imperial Airways Short Empire flying boat Cavalier makes an emergency landing 285 mi southeast of New York in the North Atlantic due to loss of power and later sinks; three of 12 on board die.
August 13 – A Pan Am Sikorsky S-43 crashes into Guanabara Bay, Brazil, due to loss of control following engine failure, killing 12 of 14 on board.
1940[edit]
June 14 – In the Kaleva shootdown, an Aero Junkers Ju 52 en route from Tallinn, Estonia to Helsinki, Finland, is shot down by two Soviet bombers over the Gulf of Finland during peacetime; all nine aboard die.
August 31 – In the Lovettsville air disaster, Pennsylvania Central Airlines Trip 19, a Douglas DC-3A, crashes at Lovettsville, Virginia, United States, killing all 25 on board.
November 8 – A Deutsche Luft Hansa Junkers Ju 90 crashes near Schönteichen, Saxony, Germany, after ice formed on the tail, killing all 29 passengers and crew on board.
1941[edit]
February 26 – Eastern Air Lines Flight 21, a Douglas DC-3, crashes while descending to land at Atlanta, Georgia, United States, killing eight of 16 aboard; World War I hero and Eastern Air Lines president Eddie Rickenbacker is among the survivors.
October 30 – Northwest Airlines Trip 5, a Douglas DC-3, crashed at Moorhead, Minnesota in fog due to icing; of the 15 on board, only pilot Clarence Bates survived.
American Airlines Flight 1 a Douglas DC-3, stalled and crashed at Lawrence Station, Ontario, Canada while attempting to find a place to land, killing all 20 on board; the cause of the crash was not determined.
1942[edit]
January 16 – TWA Flight 3, a Douglas DC-3 returning to California crashes into Potosi Mountain 30 miles (48 km) southwest of Las Vegas, Nevada, United States; all 22 aboard die, including actress Carole Lombard and her mother.
January 30 – Qantas Short Empire G-AEUH is shot down by seven Japanese fighters and crashes 13 nmi (24 km) from East Timor; 13 of 18 on board die.
March 3 – KNILM Douglas DC-3 PK-AFV is shot down by three Japanese fighters and crashes 50 mi (80 km) north of Broome, Western Australia, killing four of 12 on board.
October 23 – American Airlines Flight 28, a Douglas DC-3, crashes near Palm Springs, California, United States, after being struck by a U.S. Army Air Corps Lockheed B-34 bomber; all 12 aboard the airliner die, while the bomber lands safely with minor damage.
1943[edit]
January 21 – Pan Am Flight 1104, a Martin M-130 nicknamed the Philippine Clipper, crashes into a mountain near Boonville, California, United States, killing all 19 passengers and crew, including Rear Admiral Robert H. English, Commander, Submarines, U.S. Pacific Fleet (COMSUBPAC).
June 1 – BOAC Flight 777, a Douglas DC-3, is shot down by Luftwaffe fighter aircraft over the Bay of Biscay, killing 17 passengers and crew on board.
July 28 – American Airlines Flight 63 (Flagship Ohio), a Douglas DC-3, loses control due to severe turbulence and violent downdrafts and crashes near Trammel, Kentucky, United States, killing 20 out of 22 people on board.
October 15 – American Airlines Flight 63 (Flagship Missouri), a DC-3, crashes near Centerville, Tennessee, United States, killing all eight passengers and three crewmembers, after ice formed on its wings and propellers.
1944[edit]
February 10 – American Airlines Flight 2, a Douglas DC-3, crashes into the Mississippi River between Arkansas and Tennessee, United States, for reasons unknown, killing all 24 occupants (21 passengers and three crew members).
June 20 – TWA Flight 277, a Douglas C-54 Skymaster, crashes into Fort Mountain, Maine, United States, in severe weather, killing all seven passengers and crew on board.
1945[edit]
January 8 – The China Clipper, a Pan Am Martin M-130 flying boat operating as Flight 161, crashes in Port of Spain, Trinidad, killing all 25 on board.
January 31 – The Stinson Tokana operated by Australian National Airways crashes, killing all 10 on board. The accident was caused by a fatigue crack in a wing spar.
July 12 – Eastern Air Lines Flight 45, a Douglas DC-3A, collides with a Douglas A-26 Invader over Florence, South Carolina, United States. One of the 24 on the DC-3 and one of the two on the A-26 die.
October 5 – National Airlines Flight 16, a Lockheed L-18 Lodestar, overshoots the runway at Lakeland, Florida, United States, killing two of 15 on board.
November 3 – The prototype Boeing 314, named the Honolulu Clipper, makes an emergency landing in the Pacific 650 miles east of Oahu due to double engine failure; the aircraft is intentionally sunk after salvage was deemed impractical; all 26 passengers on board survive.
1946[edit]
January 6 – Pennsylvania Central Airlines Flight 105, a Douglas DC-3, crashes in Birmingham, Alabama, United States, killing three of the four crew members; the flight attendant and all 16 passengers survive.
March 10 – The 1946 Australian National Airways DC-3 crash near Hobart, Tasmania, kills all 25 on board.
July 11 – TWA Flight 513, a Lockheed L-049 Constellation, crashes near Reading, Pennsylvania, United States, after a fire in the baggage compartment; of the six crew on board, only one survives.
August 7 – British European Airways Flight 530, a Douglas C-47, crashes into Mistberget mountain near Eidsvoll, Norway; killing three of five crew; all 10 passengers survived.
October 3 – An American Overseas Airlines Douglas C-54 crashes into mountainous terrain after takeoff from Stephenville, Newfoundland, killing all 39 passengers and crew on board.
November 14 – In the 1946 KLM Douglas DC-3 Amsterdam accident, a Douglas DC-3 crashes while attempting to land at Amsterdam Schiphol Airport in the Netherlands; all 26 passengers and crew on board are killed.
December 28 – TWA Flight 6963, a Lockheed L-049 Constellation, crashes near Shannon Airport due to an inaccurate altimeter caused by maintenance errors, killing nine of 23 on board.
1947[edit]
January 11 – The 1947 BOAC Douglas C-47 crash: a BOAC Douglas C-47A crashes into Barley Hill near Stowting, Kent, United Kingdom, due to fuel starvation, killing eight of 16 on board.
January 12 – Eastern Air Lines Flight 665 Douglas C-49 flies into high ground near Galax, Virginia, when the pilot loses his bearings, killing all but one of 19 aboard.
January 25 – In the 1947 Croydon Dakota accident, a Spencer Airways Douglas C-47A fails to get airborne at Croydon Airport, United Kingdom, and crashes into a parked ČSA aircraft; 12 of the 22 on board are killed.
January 26 – In the 1947 KLM Douglas DC-3 Copenhagen accident, a Douglas DC-3 crashes shortly after takeoff from Kastrup Airport in Denmark; all 22 passengers and crew on board are killed.
February 15 – An Avianca Douglas DC-4 crashes into Mount El Tabalazo due to pilot error, killing all 53 passengers and crew on board.
May 29 – United Airlines Flight 521, a Douglas DC-4, crashes on takeoff from LaGuardia Airport, New York, United States, due to pilot error; 42 of 48 on board die.
May 30 – Eastern Air Lines Flight 605, a Douglas DC-4, loses control and crashes near Bainbridge, Maryland, United States, killing all 53 passengers and crew on board in the deadliest airliner crash in United States history at the time.
June 13 – Pennsylvania Central Airlines Flight 410, a Douglas DC-4, crashes into Lookout Rock, in the West Virginia Blue Ridge Mountains of the United States en route from Pittsburgh to Washington DC; all 50 passengers and crew are killed.
June 19 – Pan Am Flight 121, a Lockheed L-049 Constellation, crashes in the Syrian desert, en route from Karachi to Istanbul, killing 14 of the 36 on board.
August 2 – In the 1947 BSAA Star Dust accident, a British South American Airways Avro Lancastrian named Star Dust disappears over the Andes after transmitting an enigmatic coded message ("STENDEC"); the fate of the plane remained a mystery until the crash site was located in 2000; four crew and nine passengers are killed.
August 28 – In the Kvitbjørn disaster, a Norwegian Air Lines Short Sandringham flying boat struck a mountain near Lødingsfjellet, Norway, killing all 35 on board.
October 24 – United Airlines Flight 608, a Douglas DC-6, crashes near Bryce Canyon Airport, Utah, United States, when fire caused by a design flaw destroys the aircraft; all 52 on board die in the first hull loss of the DC-6.
October 26 – Pan Am Flight 923, a Douglas DC-4, struck Tamgas Mountain on Annette Island, Alaska, killing all 18 passengers and crew on board; the cause is never determined.
December 27 – In the 1947 Korangi Creek crash, an Air India Douglas DC-3 crashes shortly after takeoff, killing all 23 on board.
1948[edit]
January 30 – The BSAA Star Tiger disappearance: an Avro Tudor IV disappears without a trace en route from the Azores to Bermuda with 31 on board. The loss of the aircraft along with the 1949 BSAA Star Ariel disappearance remain unsolved to this day, with the resulting speculation helping to develop the Bermuda Triangle legend.
March 12 – Northwest Airlines Flight 4422, a Douglas C-54 Skymaster, crashes into Mount Sanford in the Alaska Territory, killing 30. Though the wreckage was initially found, it was inaccessible; it was later buried and not rediscovered until 1999.
April 5 – In the 1948 Gatow air disaster, a British European Airways Vickers VC.1 Viking crashes near RAF Gatow, Berlin after a collision with a Soviet Air Force Yakovlev Yak-3 fighter; all 14 people on board the Viking die, as well as the Soviet pilot.
April 15 – Pan Am Flight 1-10, a Lockheed Constellation, crashes while on approach to Shannon Airport, Ireland; of the 31 on board, only one survives.
April 21 – British European Airways Flight S200P, a Vickers VC.1 Viking, crashes into Irish Law Mountain in Scotland due to pilot error; all on board survive.
June 17 – United Airlines Flight 624, a Douglas DC-6, crashes near Mount Carmel, Pennsylvania, after errors in attempting to extinguish what was believed to have been an onboard fire; all 43 on board die.
July 4 – The Northwood mid-air collision between a Scandinavian Airlines System-operated Douglas DC-6 and an RAF Avro York kills all 39 passengers and crew on board both aircraft.
July 17 – Miss Macao, a Catalina seaplane operated by a Cathay Pacific subsidiary, over the Pearl River delta from Macau to Hong Kong, is hijacked with 23 passengers and three crew on board by a group attempting to rob the passengers; following a struggle in the cockpit, a crash kills all on board except one passenger, later identified as the lead hijacker; this is the earliest known airliner hijacking.
August 1 – In the 1948 Air France Latécoère 631 disappearance, a Latécoère 631 disappears over the Atlantic Ocean with the loss of all 52 people on board. This was the worst aviation accident in the Atlantic Ocean at the time and remains the worst ever involving the Latécoère 631.

In [16]:
# TODO: Check if all tags have been removed
# Output 'No Tag Found!' if no tags
if not BeautifulSoup(selected_data, "html.parser").find():
    print("No Tag Found!")

No Tag Found!

In [17]:
# TODO: Output selected_data
selected_data

'1919[edit]\nJuly 21 – The Goodyear dirigible Wingfoot Air Express catches fire and crashes into the Illinois Trust and Savings Building in Chicago, Illinois, while carrying passengers to a local amusement park, killing thirteen people: three out of the five on board and ten others on the ground, with 27 others on the ground being injured.\nAugust 2 – A Caproni Ca.48 crashes at Verona, Italy, during a flight from Venice to Taliedo, Milan, killing all on board (14, 15, or 17 people, according to different sources).\n1920[edit]\nDecember 14 – A Handley Page Transport Handley Page O/400 hits a tree and crashes at Golders Green, London, after failing to gain height following takeoff, killing four out of eight on board.\n1922[edit]\nApril 7 – In the first mid-air collision of airliners, a de Havilland DH.18A, G-EAWO, operated by Daimler Hire Ltd., collides with a Farman F.60 Goliath, F-GEAD, operated by Compagnie des Grands Express Aériens (CGEA), over the Thieulloy-St. Antoine road near Picardie, France, killing all seven people on both aircraft.\n1923[edit]\nMay 14 – An Air Union Farman F.60 Goliath crashes near Monsures, Somme, France, due to the structural failure of a wing, killing all six on board.\nAugust 27 – An Air Union Farman F.60 Goliath crashes near East Malling, Kent, England, due to engine failure, and confusion among the passengers, killing one of 13 on board.\nSeptember 14 – A Daimler Airway de Havilland DH.34 crashes at Ivinghoe, Buckinghamshire, England, after stalling while attempting an emergency landing, killing all five on board.\n1924[edit]\nDecember 24 – An Imperial Airways de Havilland DH.34 crashes near Purley, Surrey, England, due to a stall during an attempted emergency landing in response to an unknown mechanical defect, killing all eight on board.\n1926[edit]\nAugust 18 – An Air Union Blériot 155 crashes while attempting an emergency landing at College Farm, Hurst, Aldington, England, due to engine failure, killing three of 15 on board; the pilot initially survives, but dies a day later.\nOctober 2 – An Air Union Blériot 155 catches fire in mid-air and crashes at Leigh, Kent, England, while the pilot attempts to make an emergency landing at Penshurst Airfield. Both members of crew and all five passengers are killed. This is the first in-flight fire occurring on an airliner.\n1927[edit]\nAugust 22 – A KLM Fokker F. VIII crashes near Sevenoaks, Kent, England, due to structural failure of the tailfin, killing one of 11 on board.\n1928[edit]\nJuly 13 – An Imperial Airways Vickers Vulcan crashes on a test flight from Croydon Airport, England, with a pilot and five passengers near Purley, Surrey, 3 miles (4.8\xa0km) from the airport, with the loss of four passengers. As a result of the crash Imperial Airways stopped the flying of staff (so-called joy rides) on test flights.\n1929[edit]\nJune 17 – An Imperial Airways Handley Page W.10 ditches in the English Channel due to engine failure, killing seven of 13 on board.\nNovember 6 – A Junkers G 24 crashes near Marden Park, Godstone, Surrey, England; of the 8 on board; only one passenger survives.\n1930[edit]\nFebruary 10 – An Air Union Farman F.63 Goliath crashes during an emergency landing at Marden Airfield, Marden, Kent, England, following failure of the right tailplane, killing two of six on board.\nOctober 5 – On its maiden voyage from England to British India, the British civil airship R101 crashes and burns in Allonne, Oise, France, while flying at low altitude at night in a rainstorm, killing 48 out of 54 on board, the worst civil airship disaster in history.\n1931[edit]\nMarch 21 – An Australian National Airways Avro 618 Ten, Southern Cloud, disappears in severe weather on a flight from Sydney to Melbourne, killing all eight on board in Australia\'s first significant airline disaster; the crash site in the Snowy Mountains remains undiscovered until 1958.\nMarch 31 – A Transcontinental & Western Air Fokker F-10 Trimotor crashes near Bazaar, Kansas, after a wing breaks off in flight, killing all eight aboard, including University of Notre Dame football coach Knute Rockne.\n1933[edit]\nMarch 28 – The 1933 Imperial Airways Dixmude crash in Belgium of an Armstrong Whitworth Argosy II is the first suspected case of air sabotage; all 15 on board are killed.\nOctober 10 – The United Airlines crash near Chesterton: a Boeing 247 is destroyed by a bomb over Chesterton, Indiana, United States, in the first proven case of air sabotage on a commercial aircraft; all seven on board are killed.\nDecember 30 – In the 1933 Imperial Airways Ruysselede crash in Belgium, an Avro Ten collides with a radio mast, killing all 10 on board.\n1934[edit]\nFebruary 23 - A United Air Lines Boeing 247 crashes into a Utah canyon in bad weather, killing all eight on board.\nMay 9 – An Air France Wibault 282T crashes into the English Channel off Dungeness, Kent, killing all six on board.\nJuly 27 – A Swissair Curtiss T-32 Condor II crashes near Tuttlingen, Germany, after a wing separates in a thunderstorm, killing all 12 passengers and crew on board.\nOctober 2 – A Hillman\'s Airways de Havilland Dragon Rapide crashes into the English Channel off Folkestone, Kent, due to pilot error, killing all seven on board.\n1935[edit]\nMay 6 - TWA Flight 6, a Douglas DC-2 flying from Albuquerque, New Mexico, to Kansas City, Missouri, flying at low altitude through poor visibility at night while desperately low on fuel, crashes near Atlanta, Missouri, killing five out of thirteen on board, including a U.S. Senator. The political aftermath transforms U.S. civil air regulation.\nOctober 7 – United Airlines Trip 4, a Boeing 247D, crashes near Silver Crown, Wyoming, United States, due to pilot error; all 12 on board die.\nDecember 10 – A SABENA Savoia-Marchetti S.73 crashes near Tatsfield, Surrey, England, due to pilot error, killing all 11 on board.\n1936[edit]\nJanuary 14 – American Airlines Flight 1, a Douglas DC-2, crashes into a swamp near Goodwin, Arkansas, killing all 17 passengers and crew on board; the cause is never determined.\nApril 7 – TWA Flight 1, a Douglas DC-2, crashes near Uniontown, Pennsylvania, United States, due to pilot error, killing 12 of the 14 passengers and crew aboard.\nJune 16 – In the Havørn Accident, a Norwegian Air Lines Junkers Ju 52 crashes into Lihesten mountain in Hyllestad, Norway, killing all seven on board.\nAugust 5 – Chicago and Southern Flight 4, a Lockheed Model 10 Electra, crashes after takeoff due to pilot error, killing all eight on board.\nDecember 9 – A KLM Douglas DC-2 crashes on takeoff from Croydon Airport, England; 15 of 17 on board die.\nDecember 27 – United Airlines Trip 34, a Boeing 247, crashes at Rice Canyon (near Newhall, California, United States) due to pilot error, killing all 12 on board.\n1937[edit]\nJanuary 12 – Western Air Express Flight 7, a Boeing 247, crashes into a mountain near Newhall, California, United States. Five of the 13 people aboard die, including famed adventurer, author and filmmaker, Martin Johnson.\nFebruary 19 – An Australian National Airways Stinson Model A suffers controlled flight into terrain in Queensland, killing four of the seven people on board.\nMay 6 – The Zeppelin Hindenburg bursts into flames and crashes while attempting a landing at Naval Air Engineering Station, Lakehurst, New Jersey, United States; of the 97 people on board, 35 are killed; one person on the ground also dies.\nNovember 16 – A Sabena Junkers Ju 52 crashes near Ostend, Belgium, killing all 11 on board, including the Grand Duke Georg Donatus and Grand Duchess Cecilie of Hesse.\n1938[edit]\nJanuary 10 – Northwest Airlines Flight 2, a Lockheed L14H Super Electra, crashes near Bozeman, Montana, United States, killing all 10 on board; the machine with which the manufacturer measured component vibration is found to be inaccurate, causing the aircraft to be more prone to flutter than thought.\nJanuary 11 – Pan American World Airways Flight 1, a Sikorsky S-42 flying boat named the Samoan Clipper, explodes over Pago Pago, American Samoa; all seven on board die.\nMarch 1 – The 1938 Yosemite TWA crash: A Douglas DC-2 disappears on a flight from San Francisco to Winslow, Arizona, United States; the aircraft is found three months later on a mountain in Yosemite National Park; all nine on board die.\nJuly 28 – Pan American World Airways Flight 229, a Martin M-130 flying boat named the Hawaii Clipper, disappears in the Pacific Ocean westbound from Guam to Manila with six passengers and nine crew.\nOctober 25 – Kyeema, an Australian National Airways Douglas DC-2 crashes in heavy fog into Mount Dandenong in Victoria, Australia, killing all 18 people on board.\nNovember 4 – In the 1938 Jersey Airport disaster, a Jersey Airways de Havilland DH.86 crashes on takeoff from Jersey Airport due to pilot error; all 13 passengers and crew die as well as one person on the ground.\n1939[edit]\nJanuary 13 – Northwest Airlines Flight 1, a Lockheed L14H Super Electra, crashes on descent to Miles City, Montana, United States, killing all four on board; the aircraft\'s cross-feed fuel valve leaked fuel into the cockpit and an intense fire broke out.\nJanuary 21 – Imperial Airways Short Empire flying boat Cavalier makes an emergency landing 285\xa0mi southeast of New York in the North Atlantic due to loss of power and later sinks; three of 12 on board die.\nAugust 13 – A Pan Am Sikorsky S-43 crashes into Guanabara Bay, Brazil, due to loss of control following engine failure, killing 12 of 14 on board.\n1940[edit]\nJune 14 – In the Kaleva shootdown, an Aero Junkers Ju 52 en route from Tallinn, Estonia to Helsinki, Finland, is shot down by two Soviet bombers over the Gulf of Finland during peacetime; all nine aboard die.\nAugust 31 – In the Lovettsville air disaster, Pennsylvania Central Airlines Trip 19, a Douglas DC-3A, crashes at Lovettsville, Virginia, United States, killing all 25 on board.\nNovember 8 – A Deutsche Luft Hansa Junkers Ju 90 crashes near Schönteichen, Saxony, Germany, after ice formed on the tail, killing all 29 passengers and crew on board.\n1941[edit]\nFebruary 26 – Eastern Air Lines Flight 21, a Douglas DC-3, crashes while descending to land at Atlanta, Georgia, United States, killing eight of 16 aboard; World War I hero and Eastern Air Lines president Eddie Rickenbacker is among the survivors.\nOctober 30 – Northwest Airlines Trip 5, a Douglas DC-3, crashed at Moorhead, Minnesota in fog due to icing; of the 15 on board, only pilot Clarence Bates survived.\nAmerican Airlines Flight 1 a Douglas DC-3, stalled and crashed at Lawrence Station, Ontario, Canada while attempting to find a place to land, killing all 20 on board; the cause of the crash was not determined.\n1942[edit]\nJanuary 16 – TWA Flight 3, a Douglas DC-3 returning to California crashes into Potosi Mountain 30 miles (48\xa0km) southwest of Las Vegas, Nevada, United States; all 22 aboard die, including actress Carole Lombard and her mother.\nJanuary 30 – Qantas Short Empire G-AEUH is shot down by seven Japanese fighters and crashes 13\xa0nmi (24\xa0km) from East Timor; 13 of 18 on board die.\nMarch 3 – KNILM Douglas DC-3 PK-AFV is shot down by three Japanese fighters and crashes 50\xa0mi (80\xa0km) north of Broome, Western Australia, killing four of 12 on board.\nOctober 23 – American Airlines Flight 28, a Douglas DC-3, crashes near Palm Springs, California, United States, after being struck by a U.S. Army Air Corps Lockheed B-34 bomber; all 12 aboard the airliner die, while the bomber lands safely with minor damage.\n1943[edit]\nJanuary 21 – Pan Am Flight 1104, a Martin M-130 nicknamed the Philippine Clipper, crashes into a mountain near Boonville, California, United States, killing all 19 passengers and crew, including Rear Admiral Robert H. English, Commander, Submarines, U.S. Pacific Fleet (COMSUBPAC).\nJune 1 – BOAC Flight 777, a Douglas DC-3, is shot down by Luftwaffe fighter aircraft over the Bay of Biscay, killing 17 passengers and crew on board.\nJuly 28 – American Airlines Flight 63 (Flagship Ohio), a Douglas DC-3, loses control due to severe turbulence and violent downdrafts and crashes near Trammel, Kentucky, United States, killing 20 out of 22 people on board.\nOctober 15 – American Airlines Flight 63 (Flagship Missouri), a DC-3, crashes near Centerville, Tennessee, United States, killing all eight passengers and three crewmembers, after ice formed on its wings and propellers.\n1944[edit]\nFebruary 10 – American Airlines Flight 2, a Douglas DC-3, crashes into the Mississippi River between Arkansas and Tennessee, United States, for reasons unknown, killing all 24 occupants (21 passengers and three crew members).\nJune 20 – TWA Flight 277, a Douglas C-54 Skymaster, crashes into Fort Mountain, Maine, United States, in severe weather, killing all seven passengers and crew on board.\n1945[edit]\nJanuary 8 – The China Clipper, a Pan Am Martin M-130 flying boat operating as Flight 161, crashes in Port of Spain, Trinidad, killing all 25 on board.\nJanuary 31 – The Stinson Tokana operated by Australian National Airways crashes, killing all 10 on board. The accident was caused by a fatigue crack in a wing spar.\nJuly 12 – Eastern Air Lines Flight 45, a Douglas DC-3A, collides with a Douglas A-26 Invader over Florence, South Carolina, United States. One of the 24 on the DC-3 and one of the two on the A-26 die.\nOctober 5 – National Airlines Flight 16, a Lockheed L-18 Lodestar, overshoots the runway at Lakeland, Florida, United States, killing two of 15 on board.\nNovember 3 – The prototype Boeing 314, named the Honolulu Clipper, makes an emergency landing in the Pacific 650 miles east of Oahu due to double engine failure; the aircraft is intentionally sunk after salvage was deemed impractical; all 26 passengers on board survive.\n1946[edit]\nJanuary 6 – Pennsylvania Central Airlines Flight 105, a Douglas DC-3, crashes in Birmingham, Alabama, United States, killing three of the four crew members; the flight attendant and all 16 passengers survive.\nMarch 10 – The 1946 Australian National Airways DC-3 crash near Hobart, Tasmania, kills all 25 on board.\nJuly 11 – TWA Flight 513, a Lockheed L-049 Constellation, crashes near Reading, Pennsylvania, United States, after a fire in the baggage compartment; of the six crew on board, only one survives.\nAugust 7 – British European Airways Flight 530, a Douglas C-47, crashes into Mistberget mountain near Eidsvoll, Norway; killing three of five crew; all 10 passengers survived.\nOctober 3 – An American Overseas Airlines Douglas C-54 crashes into mountainous terrain after takeoff from Stephenville, Newfoundland, killing all 39 passengers and crew on board.\nNovember 14 – In the 1946 KLM Douglas DC-3 Amsterdam accident, a Douglas DC-3 crashes while attempting to land at Amsterdam Schiphol Airport in the Netherlands; all 26 passengers and crew on board are killed.\nDecember 28 – TWA Flight 6963, a Lockheed L-049 Constellation, crashes near Shannon Airport due to an inaccurate altimeter caused by maintenance errors, killing nine of 23 on board.\n1947[edit]\nJanuary 11 – The 1947 BOAC Douglas C-47 crash: a BOAC Douglas C-47A crashes into Barley Hill near Stowting, Kent, United Kingdom, due to fuel starvation, killing eight of 16 on board.\nJanuary 12 – Eastern Air Lines Flight 665 Douglas C-49 flies into high ground near Galax, Virginia, when the pilot loses his bearings, killing all but one of 19 aboard.\nJanuary 25 – In the 1947 Croydon Dakota accident, a Spencer Airways Douglas C-47A fails to get airborne at Croydon Airport, United Kingdom, and crashes into a parked ČSA aircraft; 12 of the 22 on board are killed.\nJanuary 26 – In the 1947 KLM Douglas DC-3 Copenhagen accident, a Douglas DC-3 crashes shortly after takeoff from Kastrup Airport in Denmark; all 22 passengers and crew on board are killed.\nFebruary 15 – An Avianca Douglas DC-4 crashes into Mount El Tabalazo due to pilot error, killing all 53 passengers and crew on board.\nMay 29 – United Airlines Flight 521, a Douglas DC-4, crashes on takeoff from LaGuardia Airport, New York, United States, due to pilot error; 42 of 48 on board die.\nMay 30 – Eastern Air Lines Flight 605, a Douglas DC-4, loses control and crashes near Bainbridge, Maryland, United States, killing all 53 passengers and crew on board in the deadliest airliner crash in United States history at the time.\nJune 13 – Pennsylvania Central Airlines Flight 410, a Douglas DC-4, crashes into Lookout Rock, in the West Virginia Blue Ridge Mountains of the United States en route from Pittsburgh to Washington DC; all 50 passengers and crew are killed.\nJune 19 – Pan Am Flight 121, a Lockheed L-049 Constellation, crashes in the Syrian desert, en route from Karachi to Istanbul, killing 14 of the 36 on board.\nAugust 2 – In the 1947 BSAA Star Dust accident, a British South American Airways Avro Lancastrian named Star Dust disappears over the Andes after transmitting an enigmatic coded message ("STENDEC"); the fate of the plane remained a mystery until the crash site was located in 2000; four crew and nine passengers are killed.\nAugust 28 – In the Kvitbjørn disaster, a Norwegian Air Lines Short Sandringham flying boat struck a mountain near Lødingsfjellet, Norway, killing all 35 on board.\nOctober 24 – United Airlines Flight 608, a Douglas DC-6, crashes near Bryce Canyon Airport, Utah, United States, when fire caused by a design flaw destroys the aircraft; all 52 on board die in the first hull loss of the DC-6.\nOctober 26 – Pan Am Flight 923, a Douglas DC-4, struck Tamgas Mountain on Annette Island, Alaska, killing all 18 passengers and crew on board; the cause is never determined.\nDecember 27 – In the 1947 Korangi Creek crash, an Air India Douglas DC-3 crashes shortly after takeoff, killing all 23 on board.\n1948[edit]\nJanuary 30 – The BSAA Star Tiger disappearance: an Avro Tudor IV disappears without a trace en route from the Azores to Bermuda with 31 on board. The loss of the aircraft along with the 1949 BSAA Star Ariel disappearance remain unsolved to this day, with the resulting speculation helping to develop the Bermuda Triangle legend.\nMarch 12 – Northwest Airlines Flight 4422, a Douglas C-54 Skymaster, crashes into Mount Sanford in the Alaska Territory, killing 30. Though the wreckage was initially found, it was inaccessible; it was later buried and not rediscovered until 1999.\nApril 5 – In the 1948 Gatow air disaster, a British European Airways Vickers VC.1 Viking crashes near RAF Gatow, Berlin after a collision with a Soviet Air Force Yakovlev Yak-3 fighter; all 14 people on board the Viking die, as well as the Soviet pilot.\nApril 15 – Pan Am Flight 1-10, a Lockheed Constellation, crashes while on approach to Shannon Airport, Ireland; of the 31 on board, only one survives.\nApril 21 – British European Airways Flight S200P, a Vickers VC.1 Viking, crashes into Irish Law Mountain in Scotland due to pilot error; all on board survive.\nJune 17 – United Airlines Flight 624, a Douglas DC-6, crashes near Mount Carmel, Pennsylvania, after errors in attempting to extinguish what was believed to have been an onboard fire; all 43 on board die.\nJuly 4 – The Northwood mid-air collision between a Scandinavian Airlines System-operated Douglas DC-6 and an RAF Avro York kills all 39 passengers and crew on board both aircraft.\nJuly 17 – Miss Macao, a Catalina seaplane operated by a Cathay Pacific subsidiary, over the Pearl River delta from Macau to Hong Kong, is hijacked with 23 passengers and three crew on board by a group attempting to rob the passengers; following a struggle in the cockpit, a crash kills all on board except one passenger, later identified as the lead hijacker; this is the earliest known airliner hijacking.\nAugust 1 – In the 1948 Air France Latécoère 631 disappearance, a Latécoère 631 disappears over the Atlantic Ocean with the loss of all 52 people on board. This was the worst aviation accident in the Atlantic Oce

In [18]:
# TODO: Write selected_data to incidents_raw.txt
incidents_raw_f = open("incidents_raw.txt", "w")
incidents_raw_f.write(selected_data)
incidents_raw_f.close()

## Tasks for Step 2

(use Insert|Insert Cell Above or Insert Cell Below as needed to add further cells)

In [19]:
# fillna

# Replace NaNs with blanks if the column is a string, so we don’t get
# objects in the column
def fillna_col(series):
    if series.dtype is pd.np.dtype(object):
        return series.fillna('')
    else:
        return series

In [20]:
# TODO: Define nullify here

# Replace \Ns with NaNs
def nullify(x):
    if x == r"\N":
        return(float('NaN'))  # TODO: replace this!
    else:
        return(x)

In [21]:
# TODO: regularize and remove nulls according to Step 2

In [22]:
# apply nullify to all of the elements in each of 
# our DataFrames 
routes_df = routes_df.applymap(nullify)
airlines_df = airlines_df.applymap(nullify)
flights_df = flights_df.applymap(nullify)
airports_df = airports_df.applymap(nullify)

In [23]:
# get rid of rows in routes_df that have 
# null airline, source, or destination IDs
routes_df.dropna(axis=0, how="any", \
                 subset=["airline_id", \
                         "source_airport_id", \
                         "dest_airport_id"], \
                 inplace=True)

In [24]:
# apply fillna_col to all of the columns in 
# each of our DataFrames 
routes_df = routes_df.apply(fillna_col, axis=1)
airlines_df = airlines_df.apply(fillna_col, axis=1)
flights_df = flights_df.apply(fillna_col, axis=1)
airports_df = airports_df.apply(fillna_col, axis=1)

In [25]:
# TODO: change column types according to Step 2
routes_df['airline_id'] = routes_df['airline_id'].astype(int)
routes_df['source_airport_id'] = routes_df['source_airport_id'].astype(int)
routes_df['dest_airport_id'] = routes_df['dest_airport_id'].astype(int)

In [26]:
# TODO: read and clean raw text file and store in clean_incidents
import re
clean_incidents=[]
year=0
months=["January","February","March", \
        "April","May","June", "July", \
        "August","September","October",\
        "November", "December"]
with open("incidents_raw.txt") as f:
    for line in f:
        if re.match(r"[0-9][0-9][0-9][0-9]\[edit\]",line):
            year=int(line.split("[")[0])
        else:
            if year >= 1997:
                fields=line.split(" ")
                if fields[0] in months:
                    if re.match(r"[0-9]*", fields[1]) and \
                    int(fields[1])<32 and \
                    int(fields[1])>0 and \
                    fields[2] == "–":
                            incident = ("%i %s %s , %s" % \
                                       (year, fields[0],
                                       fields[1]," ".join(fields[3:])))
                            clean_incidents.append(incident)

In [27]:
# TODO: convert clean_incidents into dataframe incidents_df
from datetime import datetime

incidents_df = pd.DataFrame(columns=['Date', 'Airline', 'FlightNum'])

airline_name_list =list(set(airlines_df["airline_name"]))
for line in clean_incidents:
    fields=line.split(" ")
    dateOfInc = ("%s %s %s" % (fields[0], fields[1], fields[2]))
    dtOfInc = datetime.strptime(dateOfInc, '%Y %B %d')
    inc_airline = float('NaN')
    for aline_name in airline_name_list:
        aline_flight = ("%s Flight" % (aline_name))
        if aline_flight.upper() in line.upper():
            
                if inc_airline != inc_airline :
                    inc_airline = aline_name
                elif len(aline_name)>len(inc_airline):
                    inc_airline = aline_name
    inc_flight=float('NaN')
    if "Flight" in line:
        flight_idx = fields.index("Flight")
        if inc_airline != inc_airline:
            inc_airline=" ".join(fields[4:flight_idx])
        if re.match(r"[0-9]*", fields[flight_idx+1]):
            inc_flight_str=fields[flight_idx+1]
            if inc_flight_str.isdigit():
                inc_flight = int(inc_flight_str)
            else:
                if (inc_flight_str[-1] == "," \
                   or inc_flight_str[-1] == ":") and \
                inc_flight_str[:-1].isdigit():
                    inc_flight = int(inc_flight_str[:-1])
    this_incident_df = pd.DataFrame([[dtOfInc,inc_airline, inc_flight]], \
                                   columns=['Date', 'Airline', 'FlightNum'])
    incidents_df = pd.concat([incidents_df,this_incident_df], ignore_index=True)

In [28]:
# Drop any rows with missing data
incidents_df.dropna(axis=0, how="any", \
                 inplace=True)

In [29]:
# TODO: change column type of 'Date' to datetype

incidents_df['Date'] = pd.to_datetime(incidents_df['Date'])
# change column type of 'FlightNum' to int
incidents_df['FlightNum'] = incidents_df['FlightNum'].astype(int)
# change column type of 'Airline' to str
incidents_df['Airline'] = incidents_df['Airline'].astype(str)

# drop any duplicates from incidents_df
incidents_df.drop_duplicates(inplace=True)

## Step 2

In [30]:
airports_df

,airport_id,airport_name,city,country,airport_iata,airport_icao,latitude,longitude,altitude,timezone,dst,tz
0,1,Goroka,Goroka,Papua New Guinea,GKA,AYGA,-6.081689,145.391881,5282,10.0,U,Pacific/Port_Moresby
1,2,Madang,Madang,Papua New Guinea,MAG,AYMD,-5.207083,145.788700,20,10.0,U,Pacific/Port_Moresby
2,3,Mount Hagen,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826789,144.295861,5388,10.0,U,Pacific/Port_Moresby
3,4,Nadzab,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569828,146.726242,239,10.0,U,Pacific/Port_Moresby
4,5,Port Moresby Jacksons Intl,Port Moresby,Papua New Guinea,POM,AYPY,-9.443383,147.220050,146,10.0,U,Pacific/Port_Moresby
5,6,Wewak Intl,Wewak,Papua New Guinea,WWK,AYWK,-3.583828,143.669186,19,10.0,U,Pacific/Port_Moresby
6,7,Narsarsuaq,Narssarssuaq,Greenland,UAK,BGBW,61.160517,-45.425978,112,-3.0,E,America/Godthab
7,8,Nuuk,Godthaab,Greenland,GOH,BGGH,64.190922,-51.678064,283,-3.0,E,America/Godthab
8,9,Sondre Stromfjord,Sondrestrom,Greenland,SFJ,BGSF,67.016969,-50.689325,165,-3.0,E,America/Godthab
9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531203,-68.703161,251,-4.0,E,America/Thule
10,11,Akureyri,Akureyri,Iceland,AEY,BIAR,65.659994,-18.072703,6,0.0,E,Atlantic/Reykjavik
11,12,Egilsstadir,Egilsstadir,Iceland,EGS,BIEG,65.283333,-14.401389,76,0.0,E,Atlantic/Reykjavik
12,13,Hornafjordur,Hofn,Iceland,HFN,BIHN,64.295556,-15.227222,24,0.0,E,Atlantic/Reykjavik
13,14,Husavik,Husavik,Iceland,HZK,BIHU,65.952328,-17.425978,48,0.0,E,Atlantic/Reykjavik
14,15,Isafjordur,Isafjordur,Iceland,IFJ,BIIS,66.058056,-23.135278,8,0.0,E,Atlantic/Reykjavik
15,16,Keflavik International Airport,Keflavik,Iceland,KEF,BIKF,63.985000,-22.605556,171,0.0,E,Atlantic/Reykjavik
16,17,Patreksfjordur,Patreksfjordur,Iceland,PFJ,BIPA,65.555833,-23.965000,11,0.0,E,Atlantic/Reykjavik
17,18,Reykjavik,Reykjavik,Iceland,RKV,BIRK,64.130000,-21.940556,48,0.0,E,Atlantic/Reykjavik
18,19,Siglufjordur,Siglufjordur,Iceland,SIJ,BISI,66.133333,-18.916667,10,0.0,E,Atlantic/Reykjavik
19,20,Vestmannaeyjar,Vestmannaeyjar,Iceland,VEY,BIVM,63.424303,-20.278875,326,0.0,E,Atlantic/Reykjavik
20,21,Sault Ste Marie,Sault Sainte Marie,Canada,YAM,CYAM,46.485001,-84.509445,630,-5.0,A,America/Toronto
21,22,Winnipeg St Andrews,Winnipeg,Canada,YAV,CYAV,50.056389,-97.032500,760,-6.0,A,America/Winnipeg
22,23,Shearwater,Halifax,Canada,YAW,CYAW,44.639721,-63.499444,167,-4.0,A,America/Halifax
23,24,St Anthony,St. Anthony,Canada,YAY,CYAY,51.391944,-56.083056,108,-3.5,A,America/St_Johns
24,25,Tofino,Tofino,Canada,YAZ,CYAZ,49.082222,-125.772500,80,-8.0,A,America/Vancouver
25,26,Kugaaruk,Pelly Bay,Canada,YBB,CYBB,68.534444,-89.808056,56,-7.0,A,America/Edmonton
26,27,Baie Comeau,Baie Comeau,Canada,YBC,CYBC,49.132500,-68.204444,71,-5.0,A,America/Toronto
27,28,Bagotville,Bagotville,Canada,YBG,CYBG,48.330555,-70.996391,522,-5.0,A,America/Toronto
28,29,Baker Lake,Baker Lake,Canada,YBK,CYBK,64.298889,-96.077778,59,-6.0,A,America/Winnipeg
29,30,Campbell River,Campbell River,Canada,YBL,CYBL,49.950832,-125.270833,346,-8.0,A,America/Vancouver
...,...,...,...,...,...,...,...,...,...,...,...,...
8077,9512,Port of Seattle,Seattle,United States,,PSEA,47.609178,-122.350605,0,-8.0,A,America/Los_Angeles
8078,9513,Ferry Terminal,Whittier,United States,,WHIT,60.776566,-148.683367,0,-9.0,A,America/Anchorage
8079,9514,Ferry Terminal,Valdez,United States,,VLDZ,61.123976,-146.365309,0,-9.0,A,America/Anchorage
8080,9515,Gare Routiere,Saint-Louis,Reunion,,STLS,-21.289604,55.407269,103,4.0,E,Indian/Reunion
8081,9516,Bus Stop,La Riviere,Reunion,,LRIV,-21.272574,55.437706,190,4.0,E,Indian/Reunion
8082,9517,Bus Stop,Cilaos,Reunion,,CILS,-21.135518,55.472087,4000,4.0,E,Indian/Reunion
8083,9518,Bus Stop,Hell-Bourg,Reunion,,HLBG,-21.064020,55.518453,3000,4.0,E,Indian/Reunion
8084,9519,Bus Stop,Salazie,Reunion,,SLZI,-21.027485,55.538955,3000,4.0,E,Indian/Reunion
8085,9520,Gare,St Andre,Reunion,,ANDR,-20.963272,55.652508,100,4.0,E,Indian/Reunion
8086,9521,L'Ocean Bus Terminal,Saint Denis,Reunion,,SDNS,-20.877683,55.457393,0,4.0,E,Indian/Reunion
8087,9522,Gare Routiere,Saint Pierre,Reunion,,STPR,-21.334240,55.471331,0,4.0,E,Indian/Reunion
8088,9523,Baie Ste Anne,Praslin,Seychelles,,PLIN,-4.347119,55.765688,0,4.0,N,Indian/Mahe
8089,9524,La Passe,La Digue,Seychelles,,LADG,-4.347969,55.829069,0,4.0,N,Indian/Mahe
8090,9525,Ferry Dock,Bainbridge Island,United States,,BAIN,47.622237,-122.509362,0,-8.0,A,America/Los_Angeles
8091,9526,Bus,Phnom Penh,Cambodia,,PNMP,11.561716,104.914276,0,7.0,N,Asia/Phnom_Penh
8092,9527,Bus,Siem Reap,Cambodia,,SMRP,13.361002,103.859543,0,7.0,N,Asia/Phnom_Penh
8093,9528,Bus,Sihanoukville,Cambodia,,SNKV,10.607220,103.524886,0,7.0,N,Asia/Phnom_Penh
8094,9529,Bus,Kampot,Cambodia,,KMPT,10.614922,104.177724,0,7.0,N,Asia/Phnom_Penh
8095,9530,Bus,Kep,Cambodia,,KEPC,10.480174,104.294228,0,7.0,N,Asia/Phnom_Penh
8096,9531,Main Station,Taipei,Taiwan,,TPEI,25.046176,121.517532,0,8.0,N,Asia/Taipei
8097,9532,Prominent Hill,Prominent Hill,Australia,PXH,YPMH,-29.716667,135.521667,734,9.5,O,Australia/Adelaide
8098,9533,Chatsworth Station,Chatsworth,United States,CWT,,34.256944,-118.598889,978,-8.0,A,America/Los_Angeles
8099,9534,Algerciras Port,Algerciras,Spain,,,36.136000,-5.435000,0,1.0,E,Europe/Madrid
8100,9535,Ganges Water Aerodrome,Ganges,Canada,YGG,,48.850000,-123.500000,0,-8.0,A,America/Vancouver
8101,9536,Pender Harbour Water Aerodrome,Pender Harbour,Canada,YPT,,49.616667,-124.016667,0,-8.0,A,America/Vancouver
8102,9537,Mansons Landing Water Aerodrome,Mansons Landing,Canada,YMU,,50.066667,-124.983333,0,-8.0,A,America/Vancouver
8103,9538,Port McNeill Airport,Port McNeill,Canada,YMP,,50.575556,-127.028611,225,-8.0,A,America/Vancouver
8104,9539,Sullivan Bay Water Aerodrome,Sullivan Bay,Canada,YTG,,50.883333,-126.833333,0,-8.0,A,America/Vancouver
8105,9540,Deer Harbor Seaplane,Deer Harbor,United States,DHB,,48.618397,-123.005960,0,-8.0,A,America/Los_Angeles
8106,9541,San Diego Old Town Transit Center,San Diego,United States,OLT,,32.755200,-117.199500,0,-8.0,A,America/Los_Angeles

In [31]:
airlines_df

,airline_id,airline_name,airport_alias,airline_iata,airline_icao,callsign,country,active
0,1,Private flight,,-,,,,Y
1,2,135 Airways,,,GNL,GENERAL,United States,N
2,3,1Time Airline,,1T,RNX,NEXTIME,South Africa,Y
3,4,2 Sqn No 1 Elementary Flying Training School,,,WYT,,United Kingdom,N
4,5,213 Flight Unit,,,TFU,,Russia,N
5,6,223 Flight Unit State Airline,,,CHD,CHKALOVSK-AVIA,Russia,N
6,7,224th Flight Unit,,,TTF,CARGO UNIT,Russia,N
7,8,247 Jet Ltd,,,TWF,CLOUD RUNNER,United Kingdom,N
8,9,3D Aviation,,,SEC,SECUREX,United States,N
9,10,40-Mile Air,,Q5,MLA,MILE-AIR,United States,Y
10,11,4D Air,,,QRT,QUARTET,Thailand,N
11,12,611897 Alberta Limited,,,THD,DONUT,Canada,N
12,13,Ansett Australia,,AN,AAA,ANSETT,Australia,Y
13,14,Abacus International,,1B,,,Singapore,Y
14,15,Abelag Aviation,,W9,AAB,ABG,Belgium,N
15,16,Army Air Corps,,,AAC,ARMYAIR,United Kingdom,N
16,17,Aero Aviation Centre Ltd.,,,AAD,SUNRISE,Canada,N
17,18,Aero Servicios Ejecutivos Internacionales,,,SII,ASEISA,Mexico,N
18,19,Aero Biniza,,,BZS,BINIZA,Mexico,N
19,20,Aero Albatros,,,ABM,ALBATROS ESPANA,Spain,N
20,21,Aigle Azur,,ZI,AAF,AIGLE AZUR,France,Y
21,22,Aloha Airlines,,AQ,AAH,ALOHA,United States,Y
22,23,Alaska Island Air,,,AAK,ALASKA ISLAND,United States,N
23,24,American Airlines,,AA,AAL,AMERICAN,United States,Y
24,25,Aviation Management Corporation,,,AAM,AM CORP,United States,N
25,26,Atlantis Airlines (USA),,,AAO,ATLANTIS AIR,United States,N
26,27,Aerovista Airlines,,,AAP,AEROVISTA GROUP,United Arab Emirates,N
27,28,Asiana Airlines,,OZ,AAR,ASIANA,Republic of Korea,Y
28,29,Askari Aviation,,4K,AAS,AL-AAS,Pakistan,Y
29,30,Australia Asia Airlines,,,AAU,AUSTASIA,Australia,N
...,...,...,...,...,...,...,...,...
6018,19651,CARICOM AIRWAYS (BARBADOS) INC.,CARICOM AIRWAYS,,CCB,,Barbados,Y
6019,19674,Rainbow Air (RAI),Rainbow Air (RAI),RN,RAB,Rainbow,United States,Y
6020,19675,Rainbow Air Canada,Rainbow Air CAN,RY,RAY,Rainbow CAN,Canada,Y
6021,19676,Rainbow Air Polynesia,Rainbow Air POL,RX,RPO,Rainbow Air,United States,Y
6022,19677,Rainbow Air Euro,Rainbow Air EU,RU,RUE,Rainbow Air,United Kingdom,Y
6023,19678,Rainbow Air US,Rainbow Air US,RM,RNY,Rainbow Air,United States,Y
6024,19745,Transilvania,,,TNS,,Romania,Y
6025,19751,Dobrolet,Добролёт,QD,DOB,DOBROLET,Russia,Y
6026,19774,Spike Airlines,Aero Spike,S0,SAL,Spike Air,United States,Y
6027,19776,Grand Cru Airlines,,,GCA,,Lithuania,Y
6028,19785,Go2Sky,,,RLX,RELAX,Slovakia,Y
6029,19803,All Argentina,All Argentina,L1,AL1,,Argentina,Y
6030,19804,All America,All America,A2,AL2,,United States,Y
6031,19805,All Asia,All Asia,L9,AL3,,China,Y
6032,19806,All Africa,All Africa,9A,99F,,South Africa,Y
6033,19807,Regionalia México,Regionalia México,N4,J88,,Mexico,Y
6034,19808,All Europe,All Europe,N9,N99,,United Kingdom,Y
6035,19809,All Spain,All Spain,N7,N77,,Spain,Y
6036,19810,Regional Air Iceland,Regional Air Iceland,9N,N78,,Iceland,Y
6037,19811,British Air Ferries,,??,??!,,United Kingdom,N
6038,19812,Voestar,Voestar Brasil,8K,K88,,Brazil,Y
6039,19813,All Colombia,All Colombia,7O,7KK,,Colombia,Y
6040,19814,Regionalia Uruguay,Regionalia Uruguay,2X,2K2,,Uruguay,Y
6041,19815,Regionalia Venezuela,Regionalia Venezuela,9X,9XX,,Venezuela,Y
6042,19827,Regionalia Chile,Regionalia Chile,9J,CR1,,Chile,Y
6043,19828,Vuela Cuba,Vuela Cuba,6C,6CC,,Cuba,Y
6044,19830,All Australia,All Australia,88,8K8,,Australia,Y
6045,19831,Fly Europa,,ER,RWW,,Spain,Y
6046,19834,FlyPortugal,,PO,FPT,FlyPortugal,Portugal,Y
6047,19845,FTI Fluggesellschaft,,,FTI,,Germany,N

In [32]:
routes_df

,airline_iata_icao,airline_id,source_airport_iata_icao,source_airport_id,dest_airport_iata_icao,dest_airport_id,codeshare,stops,equipment
0,2B,410,AER,2965,KZN,2990,,0,CR2
1,2B,410,ASF,2966,KZN,2990,,0,CR2
2,2B,410,ASF,2966,MRV,2962,,0,CR2
3,2B,410,CEK,2968,KZN,2990,,0,CR2
4,2B,410,CEK,2968,OVB,4078,,0,CR2
5,2B,410,DME,4029,KZN,2990,,0,CR2
6,2B,410,DME,4029,NBC,6969,,0,CR2
8,2B,410,DME,4029,UUA,6160,,0,CR2
9,2B,410,EGO,6156,KGD,2952,,0,CR2
10,2B,410,EGO,6156,KZN,2990,,0,CR2
11,2B,410,GYD,2922,NBC,6969,,0,CR2
12,2B,410,KGD,2952,EGO,6156,,0,CR2
13,2B,410,KZN,2990,AER,2965,,0,CR2
14,2B,410,KZN,2990,ASF,2966,,0,CR2
15,2B,410,KZN,2990,CEK,2968,,0,CR2
16,2B,410,KZN,2990,DME,4029,,0,CR2
17,2B,410,KZN,2990,EGO,6156,,0,CR2
18,2B,410,KZN,2990,LED,2948,,0,CR2
19,2B,410,KZN,2990,SVX,2975,,0,CR2
20,2B,410,LED,2948,KZN,2990,,0,CR2
21,2B,410,LED,2948,NBC,6969,,0,CR2
22,2B,410,LED,2948,UUA,6160,,0,CR2
23,2B,410,MRV,2962,ASF,2966,,0,CR2
24,2B,410,NBC,6969,DME,4029,,0,CR2
25,2B,410,NBC,6969,GYD,2922,,0,CR2
26,2B,410,NBC,6969,LED,2948,,0,CR2
27,2B,410,NBC,6969,SVX,2975,,0,CR2
28,2B,410,NJC,2972,SVX,2975,,0,CR2
29,2B,410,NJC,2972,UUA,6160,,0,CR2
30,2B,410,NUX,4364,SVX,2975,,0,CR2
...,...,...,...,...,...,...,...,...,...
67633,ZL,4178,SYD,3361,ABX,3333,,0,SF3
67634,ZL,4178,SYD,3361,ARM,4062,,0,SF3
67635,ZL,4178,SYD,3361,BHQ,6241,,0,SF3
67636,ZL,4178,SYD,3361,BHS,6249,,0,SF3
67637,ZL,4178,SYD,3361,BNK,4291,,0,SF3
67638,ZL,4178,SYD,3361,DBO,3358,,0,SF3
67639,ZL,4178,SYD,3361,GFF,6271,,0,SF3
67640,ZL,4178,SYD,3361,LSY,6287,,0,SF3
67641,ZL,4178,SYD,3361,MIM,6294,,0,SF3
67642,ZL,4178,SYD,3361,MQL,6298,,0,SF3
67643,ZL,4178,SYD,3361,MYA,6302,,0,SF3
67644,ZL,4178,SYD,3361,NRA,6307,,0,SF3
67645,ZL,4178,SYD,3361,NTL,4320,,0,SF3
67646,ZL,4178,SYD,3361,OAG,6793,,0,SF3
67647,ZL,4178,SYD,3361,PKE,6317,,0,SF3
67648,ZL,4178,SYD,3361,TRO,6794,,0,SF3
67649,ZL,4178,SYD,3361,WGA,3363,,0,SF3
67650,ZL,4178,TRO,6794,GFN,6792,,0,SF3
67651,ZL,4178,TRO,6794,SYD,3361,,0,SF3
67652,ZL,4178,TSV,3330,ISA,3324,,0,SF3
67653,ZL,4178,TSV,3330,WIN,6337,,0,SF3
67654,ZL,4178,WGA,3363,MEL,3339,,0,SF3
67655,ZL,4178,WGA,3363,SYD,3361,,0,SF3
67656,ZL,4178,WIN,6337,LRE,6289,,0,SF3
67657,ZL,4178,WIN,6337,TSV,3330,,0,SF3
67658,ZL,4178,WYA,6334,ADL,3341,,0,SF3
67659,ZM,19016,DME,4029,FRU,2912,,0,734
67660,ZM,19016,FRU,2912,DME,4029,,0,734
67661,ZM,19016,FRU,2912,OSS,2913,,0,734
67662,ZM,19016,OSS,2913,FRU,2912,,0,734

In [33]:
incidents_df

          Date                            Airline  FlightNum
0   1997-01-09                             Comair       3272
1   1997-03-18  Stavropolskaya Aktsionernaya Avia       1023
2   1997-04-19         Merpati Nusantara Airlines        106
3   1997-05-08            China Southern Airlines       3456
4   1997-07-31                      FedEx Express         14
5   1997-07-17                        Sempati Air        304
6   1997-08-06                         Korean Air        801
7   1997-08-10                   Formosa Airlines       7601
8   1997-09-03                   Vietnam Airlines        815
9   1997-09-06              Royal Brunei Airlines        238
10  1997-09-26                   Garuda Indonesia        152
11  1997-10-10                                 As       2553
12  1997-12-15                Tajikistan Airlines       3183
13  1997-12-17                           Aerosvit        241
14  1997-12-19                            SilkAir        185
15  1997-12-28                    United Airlines        826
16  1998-02-02                       Cebu Pacific        387
17  1998-02-16                     China Airlines        676
19  1998-03-22                Philippine Airlines        137
20  1998-04-20                         Air France        422
22  1998-05-25                                PIA        544
24  1998-06-18                            Propair        420
25  1998-07-30                   Proteus Airlines        706
26  1998-08-24                     Myanma Airways        635
27  1998-08-29                 Cubana de Aviación        389
28  1998-09-02                           Swissair        111
29  1998-09-25                           PauknAir       4101
30  1998-09-29                            Lionair        602
32  1998-12-11         Thai Airways International        261
33  1999-02-24           China Southwest Airlines       4509
..         ...                                ...        ...
343 2015-09-05               Continental Airlines         71
344 2015-09-08                    British Airways       2276
345 2015-10-02                           Aviastar       7503
346 2015-10-29                            Airways        405
347 2015-10-31                           Metrojet       9268
349 2016-01-08                    West Air Sweden        294
350 2016-02-02                    Daallo Airlines        159
351 2016-02-24                           Tara Air        193
353 2016-03-19                           Flydubai        981
354 2016-03-29                           Egyptair        181
355 2016-04-04                          Batik Air       7703
359 2016-05-19                           Egyptair        804
360 2016-05-27                         Korean Air       2708
361 2016-06-27                 Singapore Airlines        368
362 2016-08-03                           Emirates        521
363 2016-08-05               ASL Airlines Hungary       7332
364 2016-08-27                 Southwest Airlines       3472
365 2016-10-28                  American Airlines        383
366 2016-10-28                      FedEx Express        910
367 2016-11-28                       MIA Airlines       2933
368 2016-12-07    Pakistan International Airlines        661
369 2016-12-20                          AeroSucre       4544
370 2016-12-23                  Afriqiyah Airways        209
371 2017-01-16                   Turkish Airlines       6491
373 2017-03-28                  Peruvian Airlines        112
375 2017-05-27                               Argo        409
376 2017-07-07                         Air Canada        759
377 2017-09-30                         Air France         66
379 2017-12-13                 West Wind Aviation        280
381 2018-01-13                   Pegasus Airlines       8622

[317 rows x 3 columns]

## Tasks for Step 3

In [34]:
# TODO: add the SQLite3 starter code from Step 3
import sqlite3
engine = sqlite3.connect('HW1_DB')

# Use to_sql to save your Dataframes
airlines_df.to_sql("airlines", con=engine, if_exists='replace', index=False)
airports_df.to_sql("airports", con=engine, if_exists='replace',index=False)
flights_df.to_sql("flights", con=engine, if_exists='replace', index=False)
routes_df.to_sql("routes", con=engine, if_exists='replace', index=False)
incidents_df.to_sql("incidents", con=engine, if_exists='replace',  index=False)

In [35]:
# Test that the data is there!

cursor = engine.execute('select * from airports limit 1000')
rows = cursor.fetchall()
rows

[(1,
  'Goroka',
  'Goroka',
  'Papua New Guinea',
  'GKA',
  'AYGA',
  -6.081689,
  145.391881,
  5282,
  10.0,
  'U',
  'Pacific/Port_Moresby'),
 (2,
  'Madang',
  'Madang',
  'Papua New Guinea',
  'MAG',
  'AYMD',
  -5.207083,
  145.7887,
  20,
  10.0,
  'U',
  'Pacific/Port_Moresby'),
 (3,
  'Mount Hagen',
  'Mount Hagen',
  'Papua New Guinea',
  'HGU',
  'AYMH',
  -5.826789,
  144.295861,
  5388,
  10.0,
  'U',
  'Pacific/Port_Moresby'),
 (4,
  'Nadzab',
  'Nadzab',
  'Papua New Guinea',
  'LAE',
  'AYNZ',
  -6.569828,
  146.72624199999998,
  239,
  10.0,
  'U',
  'Pacific/Port_Moresby'),
 (5,
  'Port Moresby Jacksons Intl',
  'Port Moresby',
  'Papua New Guinea',
  'POM',
  'AYPY',
  -9.443383,
  147.22005,
  146,
  10.0,
  'U',
  'Pacific/Port_Moresby'),
 (6,
  'Wewak Intl',
  'Wewak',
  'Papua New Guinea',
  'WWK',
  'AYWK',
  -3.583828,
  143.669186,
  19,
  10.0,
  'U',
  'Pacific/Port_Moresby'),
 (7,
  'Narsarsuaq',
  'Narssarssuaq',
  'Greenland',
  'UAK',
  'BGBW',
  61.160517000000006,
  -45.425978,
  112,
  -3.0,
  'E',
  'America/Godthab'),
 (8,
  'Nuuk',
  'Godthaab',
  'Greenland',
  'GOH',
  'BGGH',
  64.190922,
  -51.678064,
  283,
  -3.0,
  'E',
  'America/Godthab'),
 (9,
  'Sondre Stromfjord',
  'Sondrestrom',
  'Greenland',
  'SFJ',
  'BGSF',
  67.01696899999999,
  -50.689325,
  165,
  -3.0,
  'E',
  'America/Godthab'),
 (10,
  'Thule Air Base',
  'Thule',
  'Greenland',
  'THU',
  'BGTL',
  76.531203,
  -68.703161,
  251,
  -4.0,
  'E',
  'America/Thule'),
 (11,
  'Akureyri',
  'Akureyri',
  'Iceland',
  'AEY',
  'BIAR',
  65.659994,
  -18.072703,
  6,
  0.0,
  'E',
  'Atlantic/Reykjavik'),
 (12,
  'Egilsstadir',
  'Egilsstadir',
  'Iceland',
  'EGS',
  'BIEG',
  65.283333,
  -14.401389000000002,
  76,
  0.0,
  'E',
  'Atlantic/Reykjavik'),
 (13,
  'Hornafjordur',
  'Hofn',
  'Iceland',
  'HFN',
  'BIHN',
  64.295556,
  -15.227222,
  24,
  0.0,
  'E',
  'Atlantic/Reykjavik'),
 (14,
  'Husavik',
  'Husavik',
  'Iceland',
  'HZK',
  'BIHU',
  65.95232800000001,
  -17.425978,
  48,
  0.0,
  'E',
  'Atlantic/Reykjavik'),
 (15,
  'Isafjordur',
  'Isafjordur',
  'Iceland',
  'IFJ',
  'BIIS',
  66.05805600000001,
  -23.135278,
  8,
  0.0,
  'E',
  'Atlantic/Reykjavik'),
 (16,
  'Keflavik International Airport',
  'Keflavik',
  'Iceland',
  'KEF',
  'BIKF',
  63.985,
  -22.605556,
  171,
  0.0,
  'E',
  'Atlantic/Reykjavik'),
 (17,
  'Patreksfjordur',
  'Patreksfjordur',
  'Iceland',
  'PFJ',
  'BIPA',
  65.55583299999999,
  -23.965,
  11,
  0.0,
  'E',
  'Atlantic/Reykjavik'),
 (18,
  'Reykjavik',
  'Reykjavik',
  'Iceland',
  'RKV',
  'BIRK',
  64.13,
  -21.940556,
  48,
  0.0,
  'E',
  'Atlantic/Reykjavik'),
 (19,
  'Siglufjordur',
  'Siglufjordur',
  'Iceland',
  'SIJ',
  'BISI',
  66.133333,
  -18.916667,
  10,
  0.0,
  'E',
  'Atlantic/Reykjavik'),
 (20,
  'Vestmannaeyjar',
  'Vestmannaeyjar',
  'Iceland',
  'VEY',
  'BIVM',
  63.424303,
  -20.278875,
  326,
  0.0,
  'E',
  'Atlantic/Reykjavik'),
 (21,
  'Sault Ste Marie',
  'Sault Sainte Marie',
  'Canada',
  'YAM',
  'CYAM',
  46.485001000000004,
  -84.509445,
  630,
  -5.0,
  'A',
  'America/Toronto'),
 (22,
  'Winnipeg St Andrews',
  'Winnipeg',
  'Canada',
  'YAV',
  'CYAV',
  50.056389,
  -97.0325,
  760,
  -6.0,
  'A',
  'America/Winnipeg'),
 (23,
  'Shearwater',
  'Halifax',
  'Canada',
  'YAW',
  'CYAW',
  44.639721,
  -63.499444,
  167,
  -4.0,
  'A',
  'America/Halifax'),
 (24,
  'St Anthony',
  'St. Anthony',
  'Canada',
  'YAY',
  'CYAY',
  51.391944,
  -56.083056000000006,
  108,
  -3.5,
  'A',
  'America/St_Johns'),
 (25,
  'Tofino',
  'Tofino',
  'Canada',
  'YAZ',
  'CYAZ',
  49.082221999999994,
  -125.7725,
  80,
  -8.0,
  'A',
  'America/Vancouver'),
 (26,
  'Kugaaruk',
  'Pelly Bay',
  'Canada',
  'YBB',
  'CYBB',
  68.534444,
  -89.80805600000001,
  56,
  -7.0,
  'A',
  'America/Edmonton'),
 (27,
  'Baie Comeau',
  'Baie Comeau',
  'Canada',
  'YBC',
  'CYBC',
  49.1325,
  -68.204444,
  71,
  -5.0,
  'A',
  'America/Toronto'),
 (28,
  'Bagotville',
  'Bagotville',
  'Canada',
  'YBG',
  'CYBG',
  48.330555,
  -70.996391,
  522,
  -5.0,
  'A',
  'America/Toronto'),
 (29,
  'Baker Lake',
  'Baker Lake',
  'Canada',
  'YBK',
  'CYBK',
  64.298889,
  -96.07777800000001,
  59,
  -6.0,
  'A',
  'America/Winnipeg'),
 (30,
  'Campbell River',
  'Campbell River',
  'Canada',
  'YBL',
  'CYBL',
  49.950832,
  -125.27083300000001,
  346,
  -8.0,
  'A',
  'America/Vancouver'),
 (31,
  'Brandon Muni',
  'Brandon',
  'Canada',
  'YBR',
  'CYBR',
  49.91,
  -99.951944,
  1343,
  -6.0,
  'A',
  'America/Winnipeg'),
 (32,
  'Cambridge Bay',
  'Cambridge Bay',
  'Canada',
  'YCB',
  'CYCB',
  69.10805500000001,
  -105.138333,
  90,
  -7.0,
  'A',
  'America/Edmonton'),
 (33,
  'Nanaimo',
  'Nanaimo',
  'Canada',
  'YCD',
  'CYCD',
  49.052333000000004,
  -123.870167,
  93,
  -8.0,
  'A',
  'America/Vancouver'),
 (34,
  'Castlegar',
  'Castlegar',
  'Canada',
  'YCG',
  'CYCG',
  49.296389000000005,
  -117.6325,
  1624,
  -8.0,
  'A',
  'America/Vancouver'),
 (35,
  'Miramichi',
  'Chatham',
  'Canada',
  'YCH',
  'CYCH',
  47.007778,
  -65.449167,
  108,
  -4.0,
  'A',
  'America/Halifax'),
 (36,
  'Charlo',
  'Charlo',
  'Canada',
  'YCL',
  'CYCL',
  47.990833,
  -66.330278,
  132,
  -4.0,
  'A',
  'America/Halifax'),
 (37,
  'Kugluktuk',
  'Coppermine',
  'Canada',
  'YCO',
  'CYCO',
  67.81666700000001,
  -115.14388899999999,
  74,
  -7.0,
  'A',
  'America/Edmonton'),
 (38,
  'Coronation',
  'Coronation',
  'Canada',
  'YCT',
  'CYCT',
  52.075001,
  -111.445278,
  2595,
  -7.0,
  'A',
  'America/Edmonton'),
 (39,
  'Chilliwack',
  'Chilliwack',
  'Canada',
  'YCW',
  'CYCW',
  49.152778999999995,
  -121.93888999999999,
  32,
  -8.0,
  'A',
  'America/Vancouver'),
 (40,
  'Clyde River',
  'Clyde River',
  'Canada',
  'YCY',
  'CYCY',
  70.486111,
  -68.516667,
  87,
  -5.0,
  'A',
  'America/Toronto'),
 (41,
  'Fairmont Hot Springs',
  'Coral Harbour',
  'Canada',
  'YZS',
  'CYCZ',
  64.193333,
  -83.359444,
  2661,
  -5.0,
  'A',
  'America/Coral_Harbour'),
 (42,
  'Dawson City',
  'Dawson',
  'Canada',
  'YDA',
  'CYDA',
  64.043056,
  -139.127778,
  1215,
  -8.0,
  'A',
  'America/Vancouver'),
 (43,
  'Burwash',
  'Burwash',
  'Canada',
  'YDB',
  'CYDB',
  61.371111,
  -139.040556,
  2647,
  -8.0,
  'A',
  'America/Vancouver'),
 (44,
  'Princeton',
  'Princeton',
  'Canada',
  'YDC',
  'CYDC',
  49.468056,
  -120.511389,
  2298,
  -8.0,
  'A',
  'America/Vancouver'),
 (45,
  'Deer Lake',
  'Deer Lake',
  'Canada',
  'YDF',
  'CYDF',
  49.210833,
  -57.391388,
  72,
  -3.5,
  'A',
  'America/St_Johns'),
 (46,
  'Dease Lake',
  'Dease Lake',
  'Canada',
  'YDL',
  'CYDL',
  58.422222,
  -130.032222,
  2600,
  -8.0,
  'A',
  'America/Vancouver'),
 (47,
  'Dauphin Barker',
  'Dauphin',
  'Canada',
  'YDN',
  'CYDN',
  51.100834000000006,
  -100.0525,
  999,
  -6.0,
  'A',
  'America/Winnipeg'),
 (48,
  'Dawson Creek',
  'Dawson Creek',
  'Canada',
  'YDQ',
  'CYDQ',
  55.742332999999995,
  -120.18299999999999,
  2148,
  -7.0,
  'A',
  'America/Dawson_Creek'),
 (49,
  'Edmonton Intl',
  'Edmonton',
  'Canada',
  'YEG',
  'CYEG',
  53.309723,
  -113.579722,
  2373,
  -7.0,
  'A',
  'America/Edmonton'),
 (50,
  'Arviat',
  'Eskimo Point',
  'Canada',
  'YEK',
  'CYEK',
  61.094166,
  -94.070833,
  32,
  -6.0,
  'A',
  'America/Winnipeg'),
 (51,
  'Estevan',
  'Estevan',
  'Canada',
  'YEN',
  'CYEN',
  49.210278,
  -102.96583299999999,
  1905,
  -6.0,
  'A',
  'America/Regina'),
 (52,
  'Edson',
  'Edson',
  'Canada',
  'YET',
  'CYET',
  53.578888,
  -116.465,
  3041,
  -7.0,
  'A',
  'America/Edmonton'),
 (53,
  'Eureka',
  'Eureka',
  'Canada',
  'YEU',
  'CYEU',
  79.994722,
  -85.814167,
  256,
  -6.0,
  'A',
  'America/Winnipeg'),
 (54,
  'Inuvik Mike Zubko',
  'Inuvik',
  'Canada',
  'YEV',
  'CYEV',
  68.304167,
  -133.482778,
  224,
  -7.0,
  'A',
  'America/Edmonton'),
 (55,
  'Iqaluit',
  'Iqaluit',
  'Canada',
  'YFB',
  'CYFB',
  63.75639,
  -68.555832,
  110,
  -5.0,
  'A',
  'America/Toronto'),
 (56,
  'Fredericton',
  'Fredericton',
  'Canada',
  'YFC',
  'CYFC',
  45.868889,
  -66.537222,
  68,
  -4.0,
  'A',
  'America/Halifax'),
 (57,
  'Forestville',
  'Forestville',
  'Canada',
  '',
  'CYFE',
  48.746111,
  -69.097222,
  293,
  -5.0,
  'A',
  'America/Toronto'),
 (58,
  'Flin Flon',
  'Flin Flon',
  'Canada',
  'YFO',
  'CYFO',
  54.67805500000001,
  -101.681667,
  997,
  -6.0,
  'A',
  'America/Winnipeg'),
 (59,
  'Fort Resolution',
  'Fort Resolution',
  'Canada',
  'YFR',
  'CYFR',
  61.180831999999995,
  -113.689722,
  526,
  -7.0,
  'A',
  'America/Edmonton'),
 (60,
  'Fort Simpson',
  'Fort Simpson',
  'Canada',
  'YFS',
  'CYFS',
  61.760153,
  -121.236525,
  555,
  -7.0,
  'A',
  'America/Edmonton'),
 (61,
  'Kingston',
  'Kingston',
  'Canada',
  'YGK',
  'CYGK',
  44.225277,
  -76.596944,
  305,
  -5.0,
  'A',
  'America/Toronto'),
 (62,
  'La Grande Riviere',
  'La Grande Riviere',
  'Canada',
  'YGL',
  'CYGL',
  53.625278,
  -77.704167,
  639,
  -5.0,
  'A',
  'America/Toronto'),
 (63,
  'Gaspe',
  'Gaspe',
  'Canada',
  'YGP',
  'CYGP',
  48.775278,
  -64.478611,
  108,
  -5.0,
  'A',
  'America/Toronto'),
 (64,
  'Geraldton Greenstone Regional',
  'Geraldton',
  'Canada',
  'YGQ',
  'CYGQ',
  49.778332,
  -86.93944499999999,
  1144,
  -5.0,
  'A',
  'America/Toronto'),
 (65,
  'Iles De La Madeleine',
  'Iles De La Madeleine',
  'Canada',
  'YGR',
  'CYGR',
  47.424721000000005,
  -61.77805600000001,
  35,
  -5.0,
  'A',
  'America/Toronto'),
 (66,
  'Hudson Bay',
  'Hudson Bay',
  'Canada',
  'YHB',
  'CYHB',
  52.816666000000005,
  -102.31139,
  1175,
  -6.0,
  'A',
  'America/Regina'),
 (67,
  'Dryden Rgnl',
  'Dryden',
  'Canada',
  'YHD',
  'CYHD',
  49.831666999999996,
  -92.744167,
  1354,
  -6.0,
  'A',
  'America/Winnipeg'),
 (68,
  'Ulukhaktok Holman',
  'Holman Island',
  'Canada',
  'YHI',
  'CYHI',
  70.762778,
  -117.80611100000002,
  117,
  -7.0,
  'A',
  'America/Edmonton'),
 (69,
  'Gjoa Haven',
  'Gjoa Haven',
  'Canada',
  'YHK',
  'CYHK',
  68.63555600000001,
  -95.849722,
  152,
  -7.0,
  'A',
  'America/Edmonton'),
 (70,
  'Hamilton',
  'Hamilton',
  'Canada',
  'YHM',
  'CYHM',
  43.173611,
  -79.935,
  780,
  -5.0,
  'A',
  'America/Toronto'),
 (71,
  'St Hubert',
  'Montreal',
  'Canada',
  'YHU',
  'CYHU',
  45.5175,
  -73.416944,
  90,
  -5.0,
  'A',
  'America/Toronto'),
 (72,
  'Hay River',
  'Hay River',
  'Canada',
  'YHY',
  'CYHY',
  60.839721999999995,
  -115.78277800000001,
  543,
  -7.0,
  'A',
  'America/Edmonton'),
 (73,
  'Halifax Intl',
  'Halifax',
  'Canada',
  'YHZ',
  'CYHZ',
  44.880833,
  -63.50861,
  477,
  -4.0,
  'A',
  'America/Halifax'),
 (74,
  'Atikokan Muni',
  'Atikokan',
  'Canada',
  'YIB',
  'CYIB',
  48.773888,
  -91.638611,
  1408,
  -5.0,
  'A',
  'America/Coral_Harbour'),
 (75,
  'Pond Inlet',
  'Pond Inlet',
  'Canada',
  'YIO',
  'CYIO',
  72.683334,
  -77.966667,
  181,
  -5.0,
  'A',
  'America/Toronto'),
 (76,
  'St Jean',
  'St. Jean',
  'Canada',
  'YJN',
  'CYJN',
  45.294445,
  -73.281111,
  136,
  -5.0,
  'A',
  'America/Toronto'),
 (77,
  'Stephenville',
  'Stephenville',
  'Canada',
  'YJT',
  'CYJT',
  48.544167,
  -58.549999,
  80,
  -3.5,
  'A',
  'America/St_Johns'),
 (78,
  'Kamloops',
  'Kamloops',
  'Canada',
  'YKA',
  'CYKA',
  50.702222,
  -120.44444399999999,
  1133,
  -8.0,
  'A',
  'America/Vancouver'),
 (79,
  'Waterloo',
  'Waterloo',
  'Canada',
  'YKF',
  'CYKF',
  43.460833,
  -80.37861099999999,
  1054,
  -5.0,
  'A',
  'America/Toronto'),
 (80,
  'Schefferville',
  'Schefferville',
  'Canada',
  'YKL',
  'CYKL',
  54.805278,
  -66.805278,
  1709,
  -5.0,
  'A',
  'America/Toronto'),
 (81,
  'Kindersley',
  'Kindersley',
  'Canada',
  'YKY',
  'CYKY',
  51.5175,
  -109.180833,
  2277,
  -6.0,
  'A',
  'America/Regina'),
 (82,
  'Buttonville Muni',
  'Toronto',
  'Canada',
  'YKZ',
  'CYKZ',
  43.862221000000005,
  -79.37,
  650,
  -5.0,
  'A',
  'America/Toronto'),
 (83,
  'Chapleau',
  'Chapleau',
  'Canada',
  'YLD',
  'CYLD',
  47.82,
  -83.34666700000001,
  1470,
  -5.0,
  'A',
  'America/Toronto'),
 (84,
  'Meadow Lake',
  'Meadow Lake',
  'Canada',
  'YLJ',
  'CYLJ',
  54.125278,
  -108.522778,
  1576,
  -6.0,
  'A',
  'America/Regina'),
 (85,
  'Lloydminster',
  'Lloydminster',
  'Canada',
  'YLL',
  'CYLL',
  53.309166000000005,
  -110.0725,
  2193,
  -7.0,
  'A',
  'America/Edmonton'),
 (86,
  'Alert',
  'Alert',
  'Canada',
  'YLT',
  'CYLT',
  82.517778,
  -62.280556000000004,
  100,
  -5.0,
  'A',
  'America/Toronto'),
 (87,
  'Kelowna',
  'Kelowna',
  'Canada',
  'YLW',
  'CYLW',
  49.956112,
  -119.377778,
  1409,
  -8.0,
  'A',
  'America/Vancouver'),
 (88,
  'Mayo',
  'Mayo',
  'Canada',
  'YMA',
  'CYMA',
  63.616389,
  -135.868333,
  1653,
  -8.0,
  'A',
  'America/Vancouver'),
 (89,
  'Moose Jaw Air Vice Marshal C M Mcewen',
  'Moose Jaw',
  'Canada',
  'YMJ',
  'CYMJ',
  50.330278,
  -105.55916699999999,
  1892,
  -6.0,
  'A',
  'America/Regina'),
 (90,
  'Fort Mcmurray',
  'Fort Mcmurray',
  'Canada',
  'YMM',
  'CYMM',
  56.653332999999996,
  -111.221944,
  1211,
  -7.0,
  'A',
  'America/Edmonton'),
 (91,
  'Moosonee',
  'Moosonee',
  'Canada',
  'YMO',
  'CYMO',
  51.291111,
  -80.607778,
  30,
  -5.0,
  'A',
  'America/Toronto'),
 (92,
  'Maniwaki',
  'Maniwaki',
  'Canada',
  'YMW',
  'CYMW',
  46.272778,
  -75.99055600000001,
  656,
  -5.0,
  'A',
  'America/Toronto'),
 (93,
  'Montreal Intl Mirabel',
  'Montreal',
  'Canada',
  'YMX',
  'CYMX',
  45.681944,
  -74.005278,
  270,
  -5.0,
  'A',
  'America/Toronto'),
 (94,
  'Natashquan',
  'Natashquan',
  'Canada',
  'YNA',
  'CYNA',
  50.19,
  -61.789167000000006,
  39,
  -5.0,
  'A',
  'America/Toronto'),
 (95,
  'Gatineau',
  'Gatineau',
  'Canada',
  'YND',
  'CYND',
  45.521694000000004,
  -75.56358900000001,
  211,
  -5.0,
  'A',
  'America/Toronto'),
 (96,
  'Matagami',
  'Matagami',
  'Canada',
  'YNM',
  'CYNM',
  49.761666999999996,
  -77.802778,
  918,
  -5.0,
  'A',
  'America/Toronto'),
 (97,
  'Old Crow',
  'Old Crow',
  'Canada',
  'YOC',
  'CYOC',
  67.57055600000001,
  -139.839167,
  824,
  -8.0,
  'A',
  'America/Vancouver'),
 (98,
  'Cold Lake',
  'Cold Lake',
  'Canada',
  'YOD',
  'CYOD',
  54.404999,
  -110.279444,
  1775,
  -7.0,
  'A',
  'America/Edmonton'),
 (99,
  'High Level',
  'High Level',
  'Canada',
  'YOJ',
  'CYOJ',
  58.621389,
  -117.164722,
  1110,
  -7.0,
  'A',
  'America/Edmonton'),
 (100,
  'Ottawa Macdonald Cartier Intl',
  'Ottawa',
  'Canada',
  'YOW',
  'CYOW',
  45.3225,
  -75.669167,
  374,
  -5.0,
  'A',
  'America/Toronto'),
 (101,
  'Prince Albert Glass Field',
  'Prince Albert',
  'Canada',
  'YPA',
  'CYPA',
  53.214167,
  -105.67277800000001,
  1405,
  -6.0,
  'A',
  'America/Regina'),
 (102,
  'Peace River',
  'Peace River',
  'Canada',
  'YPE',
  'CYPE',
  56.226943999999996,
  -117.447222,
  1873,
  -7.0,
  'A',
  'America/Edmonton'),
 (103,
  'Southport',
  'Portage-la-prairie',
  'Canada',
  'YPG',
  'CYPG',
  49.903056,
  -98.273889,
  885,
  -6.0,
  'A',
  'America/Winnipeg'),
 (104,
  'Pitt Meadows',
  'Pitt Meadows',
  'Canada',
  '',
  'CYPK',
  49.21611,
  -122.71,
  11,
  -8.0,
  'A',
  'America/Vancouver'),
 (105,
  'Pickle Lake',
  'Pickle Lake',
  'Canada',
  'YPL',
  'CYPL',
  51.446388,
  -90.214167,
  1267,
  -5.0,
  'A',
  'America/Coral_Harbour'),
 (106,
  'Port Menier',
  'Port Menier',
  'Canada',
  'YPN',
  'CYPN',
  49.836389000000004,
  -64.288611,
  167,
  -5.0,
  'A',
  'America/Toronto'),
 (107,
  'Peterborough',
  'Peterborough',
  'Canada',
  'YPQ',
  'CYPQ',
  44.23,
  -78.363333,
  628,
  -5.0,
  'A',
  'America/Toronto'),
 (108,
  'Prince Rupert',
  'Prince Pupert',
  'Canada',
  'YPR',
  'CYPR',
  54.28611,
  -130.44472199999998,
  116,
  -8.0,
  'A',
  'America/Vancouver'),
 (109,
  'Fort Chipewyan',
  'Fort Chipewyan',
  'Canada',
  'YPY',
  'CYPY',
  58.767223,
  -111.117222,
  761,
  -7.0,
  'A',
  'America/Edmonton'),
 (110,
  'Muskoka',
  'Muskoka',
  'Canada',
  'YQA',
  'CYQA',
  44.974722,
  -79.303333,
  925,
  -5.0,
  'A',
  'America/Toronto'),
 (111,
  'Quebec Jean Lesage Intl',
  'Quebec',
  'Canada',
  'YQB',
  'CYQB',
  46.791111,
  -71.393333,
  244,
  -5.0,
  'A',
  'America/Toronto'),
 (112,
  'Red Deer Regional',
  'Red Deer Industrial',
  'Canada',
  'YQF',
  'CYQF',
  52.182221999999996,
  -113.894444,
  2968,
  -7.0,
  'A',
  'America/Edmonton'),
 (113,
  'Windsor',
  'Windsor',
  'Canada',
  'YQG',
  'CYQG',
  42.275556,
  -82.955556,
  622,
  -5.0,
  'A',
  'America/Toronto'),
 (114,
  'Watson Lake',
  'Watson Lake',
  'Canada',
  'YQH',
  'CYQH',
  60.116389,
  -128.8225,
  2255,
  -8.0,
  'A',
  'America/Vancouver'),
 (115,
  'Kenora',
  'Kenora',
  'Canada',
  'YQK',
  'CYQK',
  49.788334000000006,
  -94.363056,
  1332,
  -6.0,
  'A',
  'America/Winnipeg'),
 (116,
  'Lethbridge',
  'Lethbridge',
  'Canada',
  'YQL',
  'CYQL',
  49.630278000000004,
  -112.799722,
  3047,
  -7.0,
  'A',
  'America/Edmonton'),
 (117,
  'Greater Moncton Intl',
  'Moncton',
  'Canada',
  'YQM',
  'CYQM',
  46.112221000000005,
  -64.678611,
  232,
  -4.0,
  'A',
  'America/Halifax'),
 (119,
  'Comox',
  'Comox',
  'Canada',
  'YQQ',
  'CYQQ',
  49.710833,
  -124.88666699999999,
  84,
  -8.0,
  'A',
  'America/Vancouver'),
 (120,
  'Regina Intl',
  'Regina',
  'Canada',
  'YQR',
  'CYQR',
  50.431944,
  -104.66583299999999,
  1894,
  -6.0,
  'A',
  'America/Regina'),
 (121,
  'Thunder Bay',
  'Thunder Bay',
  'Canada',
  'YQT',
  'CYQT',
  48.371944,
  -89.32388900000001,
  653,
  -5.0,
  'A',
  'America/Toronto'),
 (122,
  'Grande Prairie',
  'Grande Prairie',
  'Canada',
  'YQU',
  'CYQU',
  55.179722,
  -118.885,
  2195,
  -7.0,
  'A',
  'America/Edmonton'),
 (123,
  'Yorkton Muni',
  'Yorkton',
  'Canada',
  'YQV',
  'CYQV',
  51.264721,
  -102.461667,
  1635,
  -6.0,
  'A',
  'America/Regina'),
 (124,
  'North Battleford',
  'North Battleford',
  'Canada',
  'YQW',
  'CYQW',
  52.769167,
  -108.24361,
  1799,
  -6.0,
  'A',
  'America/Regina'),
 (125,
  'Gander Intl',
  'Gander',
  'Canada',
  'YQX',
  'CYQX',
  48.936944,
  -54.568056000000006,
  496,
  -3.5,
  'A',
  'America/St_Johns'),
 (126,
  'Sydney',
  'Sydney',
  'Canada',
  'YQY',
  'CYQY',
  46.161388,
  -60.047779000000006,
  203,
  -4.0,
  'A',
  'America/Halifax'),
 (127,
  'Quesnel',
  'Quesnel',
  'Canada',
  'YQZ',
  'CYQZ',
  53.026112,
  -122.510278,
  1789,
  -8.0,
  'A',
  'America/Vancouver'),
 (128,
  'Resolute Bay',
  'Resolute',
  'Canada',
  'YRB',
  'CYRB',
  74.716944,
  -94.969444,
  215,
  -6.0,
  'A',
  'America/Winnipeg'),
 (129,
  'Riviere Du Loup',
  'Riviere Du Loup',
  'Canada',
  'YRI',
  'CYRI',
  47.764444,
  -69.584722,
  427,
  -5.0,
  'A',
  'America/Toronto'),
 (130,
  'Roberval',
  'Roberval',
  'Canada',
  'YRJ',
  'CYRJ',
  48.52,
  -72.265556,
  586,
  -5.0,
  'A',
  'America/Toronto'),
 (131,
  'Rocky Mountain House',
  'Rocky Mountain House',
  'Canada',
  'YRM',
  'CYRM',
  52.429722,
  -114.90416699999999,
  3244,
  -7.0,
  'A',
  'America/Edmonton'),
 (132,
  'Rankin Inlet',
  'Rankin Inlet',
  'Canada',
  'YRT',
  'CYRT',
  62.81139,
  -92.115833,
  94,
  -6.0,
  'A',
  'America/Winnipeg'),
 (133,
  'Sudbury',
  'Sudbury',
  'Canada',
  'YSB',
  'CYSB',
  46.625,
  -80.798889,
  1141,
  -5.0,
  'A',
  'America/Toronto'),
 (134,
  'Sherbrooke',
  'Sherbrooke',
  'Canada',
  'YSC',
  'CYSC',
  45.438611,
  -71.691389,
  792,
  -5.0,
  'A',
  'America/Toronto'),
 (135,
  'Saint John',
  'St. John',
  'Canada',
  'YSJ',
  'CYSJ',
  45.316111,
  -65.89027800000001,
  357,
  -4.0,
  'A',
  'America/Halifax'),
 (136,
  'Fort Smith',
  'Fort Smith',
  'Canada',
  'YSM',
  'CYSM',
  60.020278000000005,
  -111.96194399999999,
  671,
  -7.0,
  'A',
  'America/Edmonton'),
 (137,
  'Nanisivik',
  'Nanisivik',
  'Canada',
  'YSR',
  'CYSR',
  72.982222,
  -84.61361099999999,
  2106,
  -5.0,
  'A',
  'America/Toronto'),
 (138,
  'Summerside',